.detailspay{

    width: 100%;
    min-height: 400px;
    float: right;


}


#redirecttohome {
    width: 100%;
    float: right;
    min-height: 100px;

}


#counter{
    width: 80px;
    height: 80px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    margin-top: 10px;
    background-color: #eee;
    border-radius: 100px;
    text-align: center;
    font-size: 25pt;
    line-height: 72px;
    color: #279520;
}

#redirecttohome a {
    width: 140px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    margin-top: 10px;
    display: block;
}