.tooltip {
    font-family: yekan !important;
}

.swal-modal {

    font-family: yekan !important;
}

.c-ui-feedback-hint {
    position: absolute;
    display: block;
    right: 100%;
    bottom: 100%;
    margin-right: -220px;
    margin-bottom: 10px;
    background: #ef5662;
    white-space: nowrap;
    padding: 9px 25px;
    color: #fff;
    z-index: 2;
    font-size: 10pt;
    font-family: yekan;
    border-radius: 2px
}

.c-ui-feedback-hint::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 0;
    border-color: #ef5662 transparent transparent;
    top: 100%;
    right: 35px;
    content: "";
    position: absolute;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right;
    float: right
}

.dropdown-menu>li>a {
    text-align: right;
    font-family: yekan;
    font-size: 11pt !important;
    height: 35px !important;
    color: #666 !important;
    line-height: 15px !important;
}

.btn {
    font-family: yekan;
    text-align: right;
    box-shadow: none;
    border: 1px solid #f0f0f0;
    padding: 10px;

}

.btn:hover {
    background-color: white !important;
    box-shadow: none !important;
}

.btn-default:hover {
    background-color: #fff !important;
    border-color: #f00 !important;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #999;
    background-color: white;
    border-color: black;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}

.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
    color: #094df0;
    background-color: #fff;
    border-color: #157bef;
    border-top-color: rgb(21, 123, 239);
    border-right-color: rgb(21, 123, 239);
    border-bottom-color: rgb(21, 123, 239);
    border-left-color: rgb(21, 123, 239);
}

.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: white;
    border-color: #8c8c8c;
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: right !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #2c93bd !important;
    text-decoration: none;
    background-color: #f9f9f9;
}

.btn-light.dropdown-toggle {
    background-color: white !important;
}

.btn-light {

    color: #626262 !important;
}

.btn-light:not([disabled]):not(.disabled).active,
.btn-light:not([disabled]):not(.disabled):active,
.show>.btn-light.dropdown-toggle {

    box-shadow: none !important;
    background-color: #fff !important;

}

.btn-light.dropdown-toggle:focus,
.btn-light.dropdown-toggle:hover {
    background-color: white !important;
    box-shadow: none !important;
}


body {
    width: 100%;
    float: right;
    background-color: #f8f9fa;
    position: relative;
    font-family: yekan;
}

div,
span,
a,
p,
ul,
li {
    direction: rtl;
}

a {
    text-decoration: none;
}

ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    height: auto;
    width: 100%;
}

.cpatcha {

    font-family: yekan !important;
}





table {
    text-align: center;
    font-family: yekan;
}

table thead {
    color: #2c93bd;
    font-size: 12pt;
}

table tbody {
    color: #727272;
    font-size: 11pt;
}

.tablebuy {
    min-height: 300px
}



/*side bar menue*/

.sidebarpanel {
    width: 240px;
    height: 100%;
    float: right;
    position: absolute;
    background-position: center;
    background-size: cover;
    display: none;
    z-index: 10;
    right: 0;
    top: 0
}

.sidebarpanel.active {

    display: block;

}

.sidebarpanel>i {
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
    left: 7px;
    text-align: center;
    top: 5px;
    font-size: 15pt;
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 5px;

}

.sidebarpanel li:hover i {

    color: #2c93bd;

}

.sidebarpanel::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0;

}

.sidebarpanel ul {
    width: 100%;
    height: auto;
    float: right;
}

.sidebarpanel ul li {

    height: 35px;
    float: right;
    cursor: pointer;

}

.sidebarpanel ul li:hover {

    border-left: 3px solid #2c93bd;

}

.sidebarpanel ul li:hover p {

    color: #2c93bd;
    transition: all 800ms;
}

.sidebarpanel ul li.active i {

    color: #2c93bd;
    transition: all 800ms;
}

.sidebarpanel ul li.active p {

    color: #2c93bd;
    transition: all 800ms;
}

.sidebarpanel ul li.active i {

    color: #2c93bd;
    transition: all 800ms;
}

.sidebarpanel ul li div {
    width: 100%;
    height: 100%;
    float: right;

}

.sidebarpanel ul li div i {
    width: 25px;
    height: 20px;
    float: right;
    text-align: center;
    font-size: 12pt;
    margin-top: 10px;
    color: #f0f0f0;
}

.sidebarpanel ul li div p {
    width: auto;
    height: 100%;
    float: right;
    margin-right: 5px;
    text-align: right;
    font-family: yekan;
    margin-bottom: 0;
    font-size: 10pt;
    color: white;
    line-height: 35px;
}




.loading {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    z-index: 3000;
    display: none;
}

.loading>div {
    width: 230px;
    background-color: white;
    height: 95px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
}

.loading>div h4 {
    font-size: 11pt;
    margin-top: 30px;
    text-align: center;
    font-family: yekan;
    color: rgb(247, 56, 56);
}

.loading>div>img {
    width: 55px;
    height: 55px;
    position: absolute;
    right: 0;
    left: 0;
    top: 15px;
    margin: auto;
}

.loading>div>span {

    position: absolute;
    bottom: 5px;
    right: 0;
    width: 165px;
    left: 0;
    margin: auto;
    height: 25px;

}

.swal-text {

    text-align: right;
}



.text-error {
    color: #ff3535 !important;
    float: right;
    margin-top: 2px;
    font-size: 11pt;
    margin-bottom: 0;
}

/*  -------------------- end seetings ----------------------- */

.nav-largescreen {

    height: 50px;
    float: right;
    width: 100%;
}

.nav-largescreen ul {
    height: 100%;
    float: right;

}

.nav-largescreen li {

    height: 100%;
    background-color: #303b41;
    float: right;
    font-family: yekan;
    box-shadow: 0px 0px 0px 1px white;
    cursor: pointer;
    padding-left: 2px;
    position: relative;
}

.nav-largescreen li div {

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    display: none;

}

.nav-largescreen li div.active {

    display: block;

}

.nav-largescreen li p {
    width: auto;
    float: right;
    color: white;
    font-size: 10pt;
    height: 100%;
    margin-bottom: 0;
    padding: 8px;
    line-height: 30px;

}

.nav-largescreen li i {
    width: 30px;
    height: 30px;
    float: right;
    color: white;
    font-size: 16pt;
    margin-top: 10px;
    padding: 2px;
}

.nav-largescreen li img {
    width: 100%;
    height: 100%;
    float: right;

}

.nav-largescreen li:hover {

    background-color: white;
    box-shadow: -3px -1px 2px 0px #2a59e0;
}

.nav-largescreen li:hover i {

    color: #2c93bd;
}

.nav-largescreen li:hover p {

    color: #2c93bd;
}

.liimgmene:hover {

    box-shadow: none !important;
}

.afterlogin {
    width: 100%;
    height: auto;
    background-color: #eee;
    float: right;
}

.tabs {
    width: 100%;
    height: auto;
    float: right;
    margin-bottom: 10px;
}

.nav-tabs {
    font-family: yekan;
    font-size: 11pt;
}

.nav-tabs li {
    color: #2c93bd;
}

.nav-tabs {
    border-bottom: 1px solid #2c93bd !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #2c93bd #2c93bd #fff !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {

    color: #2c93bd !important;
    background-color: #fff;
    border-color: #2c93bd #2c93bd #fff !important;
}

.nav-tabs a:hover {

    color: #2c93bd;

}

.nav-tabs a {

    color: #787272;

}

.alert {
    font-family: yekan;
    float: right;
    text-align: right;

    width: 100%
}


/*
cart*/


.cart {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 15px;
    z-index: 2;
    left: 20px;
    background-color: #2fe089;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
}

.cart span {
    width: 25px;
    height: 25px;
    float: right;
    border-radius: 100px;
    background-color: #74ff13;
    margin-right: 5px;
    margin-top: 8px;
    text-align: center;
    color: #175c3c;
    font-size: 12pt;
    border: 1px solid white;
}

.cart i {
    width: 30px;
    height: 25px;
    float: left;
    text-align: center;
    font-size: 16pt;
    margin-left: 10px;
    margin-top: 9px;
    color: white;
}

.showcart {
    width: 275px;
    min-height: 55px;
    background-color: white;
    position: absolute;
    left: 15px;
    z-index: 2;
    top: 67px;
    border-radius: 2px;
    border: 2px solid #eee;
    font-family: yekan;
    display: none;
}

.showcart::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: 8px;
    top: -10px;

}

.showcart>ul>li {

    min-height: 40px;
    height: auto;
    float: right;
    border-bottom: 1px dashed #eee;

}

.showcart>ul>li>i {

    width: 20px;
    height: 20px;
    float: right;
    text-align: center;
    color: #20b327;
    margin-top: 5px;
    margin-right: 5px;

}

.showcart>ul>li>p {
    width: auto;
    height: 30px;
    float: right;
    color: #20b327;
    font-size: 11pt;
    line-height: 24px;
    margin-right: 3px;
    margin-bottom: 0;

}

.showcart>ul>li div {
    width: 100%;
    min-height: 30px;
    float: right;

}

.showcart>ul>li div li {
    width: 135px;
    min-height: 30px;
    float: right;
}

.showcart>ul>li div li i {
    width: 18px;
    height: 17px;
    float: right;
    text-align: center;
    color: #aeaeae;
    margin-top: 5px;
    margin-right: 5px;
}

.showcart>ul>li div li span {
    width: auto;
    height: 20px;
    float: right;
    text-align: center;
    color: #939393;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 11pt;
    line-height: 15px;
}

.showcart>ul>li div li p {
    width: auto;
    height: 20px;
    float: right;
    text-align: center;
    color: red;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 11pt;
    line-height: 18px;
    margin-bottom: 0;
}

.cartinfo {
    width: 100%;
    min-height: 40px;
    background-color: #eee;
    float: right;
}

.cartinfo div {
    padding: 7px;
    background-color: white;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 3px;
}

.cartinfo div p {
    width: auto;
    float: right;
    color: black;
    margin: 0;
    font-size: 10pt;
}

.cartinfo div span {
    width: auto;
    float: right;
    color: red;
    margin: 0;
    font-size: 10pt;
    margin-left: 3px;
}

.errorform {

    color: #800000 !important;
    float: right;
    margin-top: -33px;
    font-size: 11pt;
}

.statusnumber {

    width: 28px;
    height: 28px;
    position: relative;
    float: right;
    border-radius: 100px;
    background-color: #cb18a2;
    top: 6px;
    text-align: center;
    font-size: 11pt;
    line-height: 25px;
    color: #fff;
    right: 10px;
    font-family: tahoma;
    border: 1px solid white;

}

.divselectform .btn {
    margin: 0 !important;
}

