body {
    background: linear-gradient(#01c2ed , #5fe2ff );
    min-height: 800px;
    height: 100%;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

.formsend > div {
    min-height: 400px;
    float: none;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flow-root;
    border-radius: 3px;
    background: white;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-radius: 5px;
}

.formsend > div h4 {
    float: right;
    text-align: center;
    margin-top: 10px;
    color: #def442;
    box-shadow: 0px 1px 0px 0px #cd88fd;
    height: 40px;
    width: 100%;
    min-height: 40px;
    font-size: 13pt;
    line-height: 30px;

}

.formsend > div > div {

    min-height: 120px;
    float: right;
    border-bottom: none !important;;
    margin-bottom: 0;

}

.formsend > div > div label {
    width: 100%;
    height: 30px;
    float: right;
    text-align: right;
    font-size: 12pt;
    color: #757575;
    margin: 0;
    line-height: 25px;
    margin-bottom: 5px;
    margin-top: 10px;

}

.formsend > div > div p {

    width: 100%;
    height: 30px;
    float: right;
    text-align: right;
    color: #f66;
    margin: 0;
    font-size: 10pt;
    line-height: 28px;
    margin-bottom: 0;
    overflow: hidden;
}

.formsend > div > div input {

    font-size: 10pt;
    color: #666;
    height: 45px;

}

.formsend .btn {

    margin: 0 !important;

}

.imgheaderformlogin {
    position: relative;
    right: 0;
    left: 0;
    float: none;
    margin: auto;
    margin-top: auto;
    height: 60px;
    margin-top: 10px;
}

.imgheaderformlogin img {
    position: relative;
    right: 0;
    left: 0;
    float: none;
    margin: auto;
    width: 160px;
    height: 30px;
    display: block;
    top: 15px;
}

.gotolink {
    float: right;
    color: #ff5757 !important;
    margin-left: 0;
    width: 100%;
    height: 40px;
    line-height: 35px;
    font-size: 11pt;
}

