
.text-error {
    color: #ff3535 !important;
    float: right;
    margin-top: 2px;
    font-size: 11pt;
    margin-bottom: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tooltip {
    font-family: yekan !important;
}

.swal-modal {

    font-family: yekan !important;
}

.modal-body {
    background-color: white;
}

.c-ui-feedback-hint {
    position: absolute;
    display: block;
    right: 100%;
    bottom: 100%;
    margin-right: -220px;
    margin-bottom: 10px;
    background: #ef5662;
    white-space: nowrap;
    padding: 9px 25px;
    color: #fff;
    z-index: 2;
    font-size: 10pt;
    font-family: yekan;
    border-radius: 2px
}

.c-ui-feedback-hint::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 0;
    border-color: #ef5662 transparent transparent;
    top: 100%;
    right: 35px;
    content: "";
    position: absolute;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right;
    float: right
}

.dropdown-menu > li > a {
    text-align: right;
    font-family: yekan;
    font-size: 11pt !important;
    height: 35px !important;
    color: #666 !important;
    line-height: 15px !important;
}

.btn {
    font-family: yekan;
    text-align: right;
    box-shadow: none;
    border: 1px solid #f0f0f0;
    padding: 10px;

}

.btn:hover {
    background-color: white !important;
    box-shadow: none !important;
}

.btn-default:hover {
    background-color: #fff !important;
    border-color: #f00 !important;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #999;
    background-color: white;
    border-color: black;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #094df0;
    background-color: #fff;
    border-color: #157bef;
    border-top-color: rgb(21, 123, 239);
    border-right-color: rgb(21, 123, 239);
    border-bottom-color: rgb(21, 123, 239);
    border-left-color: rgb(21, 123, 239);
}

.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: white;
    border-color: #8c8c8c;
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: right !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #4f51b7 !important;
    text-decoration: none;
    background-color: #f9f9f9;
}

.btn-light.dropdown-toggle {
    background-color: white !important;
}

.btn-light {

    color: #626262 !important;
}

.btn-light:not([disabled]):not(.disabled).active,
.btn-light:not([disabled]):not(.disabled):active,
.show > .btn-light.dropdown-toggle {

    box-shadow: none !important;
    background-color: #fff !important;

}

.btn-light.dropdown-toggle:focus,
.btn-light.dropdown-toggle:hover {
    background-color: white !important;
    box-shadow: none !important;
}

body {
    width: 100%;
    float: right;
    background-color: #f8f8f8;
    position: relative;
    font-family: yekan;
    right: 0;
    left: 0;
    margin: auto;
}

body.active {
    overflow-x: hidden;
    overflow-y: hidden;
}

div,
span,
a,
p,
ul,
li {
    direction: rtl;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    height: auto;
    width: 100%;
}

.cpatcha {

    font-family: yekan !important;
}

table {
    text-align: center;
    font-family: yekan;
}

table thead {
    color: #757575;
    font-size: 12pt;
    text-align: center;

}

table thead th {
    text-align: center !important;

}

.table tbody td i {
    font-size: 12pt;
    cursor: pointer;
    color: #7b63bf;
}

table tbody {
    color: #666;
    font-size: 11pt;
}

.tablebuy {
    min-height: 300px
}

.nav-largescreen {

    height: 50px;
    float: right;
    width: 100%;
}

.nav-largescreen ul {
    height: 100%;
    float: right;

}

.nav-largescreen li {

    height: 100%;
    background-color: #303b41;
    float: right;
    font-family: yekan;
    box-shadow: 0px 0px 0px 1px white;
    cursor: pointer;
    padding-left: 2px;
    position: relative;
}

.nav-largescreen li div {

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    display: none;

}

.nav-largescreen li div.active {

    display: block;

}

.nav-largescreen li p {
    width: auto;
    float: right;
    color: white;
    font-size: 10pt;
    height: 100%;
    margin-bottom: 0;
    padding: 8px;
    line-height: 30px;

}

.nav-largescreen li i {
    width: 30px;
    height: 30px;
    float: right;
    color: white;
    font-size: 16pt;
    margin-top: 10px;
    padding: 2px;
}

.nav-largescreen li img {
    width: 100%;
    height: 100%;
    float: right;

}

.nav-largescreen li:hover {

    background-color: white;
    box-shadow: -3px -1px 2px 0px #2a59e0;
}

.nav-largescreen li:hover i {

    color: #2c93bd;
}

.nav-largescreen li:hover p {

    color: #2c93bd;
}

.liimgmene:hover {

    box-shadow: none !important;
}

.afterlogin {
    width: 100%;
    height: auto;
    background-color: #eee;
    float: right;
}

.tabs {
    width: 100%;
    height: auto;
    float: right;
    margin-bottom: 10px;
}

.nav-tabs {
    font-family: yekan;
    font-size: 11pt;
}

.nav-tabs .nav-link {

    border: unset !important;
}

.nav-tabs {
    border-bottom: 1px solid #f2f2f2 !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    background-color: #fff;
    border: none !important;
    border-bottom: 2px solid #6c73db !important;
    color: #6c73db !important;
    transition: unset;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {

    color: #6c73db !important;
    background-color: #fff;
    border: none !important;
    border-bottom: 2px solid #6c73db !important;
    transition: unset;

}

.nav-tabs a:hover {

    color: #2c93bd;

}

.nav-tabs a {

    color: #787272;

}

.alert {
    font-family: yekan;
    float: right;
    text-align: right;

    width: 100%
}

.swal-button-container {

    float: left;
    font-family: Tahoma;
}

.errorform {
    color: #f45 !important;
    float: right;
    margin-top: 5px;
    font-size: 11pt;
}

.statusnumber {

    width: 28px;
    height: 28px;
    position: relative;
    float: right;
    border-radius: 100px;
    background-color: #cb18a2;
    top: 6px;
    text-align: center;
    font-size: 11pt;
    line-height: 25px;
    color: #fff;
    right: 10px;
    font-family: tahoma;
    border: 1px solid white;

}

.divselectform .btn {
    margin: 0 !important;
}

.dropdown-menu > li > a {
    line-height: 14px !important;
}

section {
    width: 100%;
    margin-top: 10px;
    box-shadow: none !important;
    min-height: 400px;
    float: right;
    margin-bottom: 10px;
}

.h4_section {
    width: 100%;
    padding: 10px;
    text-align: right;
    color: #195e47;
    float: right;
    margin-top: 20px;
    margin-bottom: 30px;
}

.ul-form {
    width: 100%;
    float: right;
    margin-top: 30px;
}

.ul-form > li {
    height: auto;
    float: right;
    margin-top: 15px;
}

.ul-form > li > div {

    width: 100%;
    min-height: 100px;
    float: right;

}

.ul-form > li > div label {
    width: 100%;
    text-align: right;
    font-size: 12pt;
    color: #6f6f6f;
}

.ul-form > li > div input {

    font-size: 11pt;
    color: #6f6f6f;
}

.ul-form > li > div button {

    margin: 0;
}

.text-formerror {
    width: 100%;
    color: #ff503e;
    text-align: right;
    margin-top: 5px;
    font-size: 11pt;
}

.div-button {
    width: 100%;
    margin-top: 20px;
    float: right;
    margin-bottom: 5px;
}

.div-button button {
    width: 80px;
    text-align: center;
    float: left;

}

.modal-dialog .modal-content {
    box-shadow: none !important;
}

.report-header {
    min-height: 60px;
    float: right;
}

.report-header .dropdown-toggle {

    height: 40px !important;
}

/*headerpanel*/
.headerpanel {
    width: 100%;
    float: right;
    height: 60px;
    background-color: white;
    margin-top: -2px;
}

.headerpanel ul {

    float: right;
}

.headerpanel ul li {
    float: right;
}

.logoheaderpanel {
    width: 145px;
    height: 25px;
    margin-top: 15px;
}

.logoheaderpanel img {
    width: 100%;
    height: 100%;
}

.diviconheaderpanel {
    width: 31px;
    height: 31px;
    float: right;
    margin-top: 12px;
    position: relative;
}

.diviconheaderpanel > span {
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50px;
    right: 10px;
    background-color: #7b63bf;
    top: -6px;
    text-align: center;
    font-size: 10pt;
    color: white;
}

.diviconheaderpanel i {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.diviconheaderpanel i::after {
    display: none !important;
}

.diviconmenu {
    display: none;
}

.iconmenu {
    float: right;
    margin-top: 15px;
    cursor: pointer;
    font-size: 25pt !important;
    color: #757575;

}

.divuser_headerpanel {
    height: 100%;
    float: right;
    margin-left: 10px;
    position: relative;
}

.divuser_headerpanel > img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    float: left;
    border: 1px solid #eee;
    margin-top: 4px;

}

.divuser_headerpanel > i {
    position: absolute;
    color: #01c2ed;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 12px;
    text-align: center;
    bottom: -12px;
    cursor: pointer;
}

.divuser_headerpanel > p {
    float: right;
    font-size: 10pt;
    padding: 10px;
    margin-top: 6px;
    color: #515151;
    margin-right: 15px;
}

/*headerpanel*/

/*sidebarpanel*/

.sidebarpanel {
    position: absolute;
    width: 200px;
    float: right;
    height: 100%;
    background-color: white;
    z-index: 1000;
    display: block;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebarpanel::-webkit-scrollbar {
    display: none;
}

.sidebarpanel.active {
    display: block;
}

.sidebar-header {
    width: 100%;
    height: 180px;
    float: right;
    position: relative;
    background-color: white;
}

.iconmenue {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 25px;
    height: 25px;
    float: right;
    background-position: -92px -82px;
    cursor: pointer;
}

.partavatar {
    width: 100%;
    height: 190px;
    float: right;
}

.partavatar > img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    display: block;
    margin-top: 30px;
}

.partavatar > h4 {
    width: 100%;
    min-height: 29px;
    text-align: center;
    font-size: 11pt;
    line-height: 30px;
    font-weight: 800;
    margin-bottom: 0;
}

.partavatar > p {
    width: 100%;
    height: 15px;
    text-align: center;
    font-size: 8pt;
}

.logopanel {
    width: 45px;
    height: 45px;
    float: right;
    margin-right: 15px;
    margin-top: 8px;
    display: none;
}

.closemenu {
    width: 25px;
    height: 25px;
    color: #9e56f4;
    font-size: 14pt;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 5px;
    text-align: center;
    line-height: 25px !important;
    top: 7px;
}

.sidebar-body {
    width: 100%;
    float: right;
    margin-bottom: 30px;
}

.sidebar-body ul {
    width: 100%;
    float: right;
}

.sidebar-body .limenulevel1 {
    width: 100%;
    float: right;
    min-height: 45px;
    /*border-bottom: 1px solid #e8e8e8;*/
    cursor: pointer;
    position: relative;
}

.sidebar-body .limenulevel1 > p {
    width: auto;
    float: right;
    text-align: center;
    color: #848689;
    margin-top: 11px;
    font-size: 11pt;
    margin-bottom: 10px;
    display: block;
    height: 100%;
    margin-right: 10px;
}

.sidebar-body .limenulevel1 span {
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.icondashboard {
    background-position: -11px -7px;
}

.icondashboard.active {

    background-position: -12px -44px;
}

.iconaccountuser {

    background-position: -50px -7px;
}

.iconaccountuser.active {

    background-position: -50px -44px;
}

.iconmanagerequests {

    background-position: -82px -7px;;
}

.iconmanagerequests.active {
    background-position: -82px -44px;;
}

.iconmoneymanagement {
    background-position: -113px -8px;;
}

.iconmoneymanagement.active {
    background-position: -113px -44px;;
}

.iconpartsbank {
    background-position: -149px -8px;
}

.iconpartsbank.active {
    background-position: -149px -44px;;
}

.iconsupport {
    background-position: -183px -8px;
}

.iconsupport.active {
    background-position: -183px -44px;
}

.iconinsertrequest {
    background-position: -221px -8px;
}

.iconinsertrequest.active {
    background-position: -221px -44px;
}

.iconbill {
    background-position: -259px -8px;
}

.iconbill.active {
    background-position: -258px -45px;
}

.sidebar-body .limenulevel1.active {
    background-color: #f7f7f7;
    border-right: 2px solid #01c2ed;
}

.sidebar-body .limenulevel1.active p {
    color: #01c2ed;
}

.sidebar-body .limenulevel1:hover > i {

    color: linear-gradient(#8219b3, #da80ff);
}

.sidebar-body .limenulevel1.active > i {
    color: white;
}

/*
.sidebar-body ul li:hover {
    background-color: #195e47;
}

.sidebar-body ul li.active {
    background-color: #195e47;
}
*/

.sidebar-body .limenulevel1:hover::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 5px;
    border-color: transparent transparent transparent #f8f8f8;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.sidebar-body .limenulevel1.active:hover::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0 0px 0px;
    border-color: transparent transparent transparent #f8f8f8;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*.sidebar-body .limenulevel1.active::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 5px;
    border-color: transparent transparent transparent white;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}*/

.numberrecord {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: #b474ff;
    position: absolute;
    left: 10px;
    text-align: center;
    top: 11px;
    color: white;
}

.logopanel.active {
    display: block;
}

.sidebar-body .limenulevel1 > p.active {
    display: block;
}

#icondropdownmenue {

    width: 20px;
    height: 18px;
    text-align: center;
    position: absolute;
    color: #999;
    left: 15px !important;
    right: unset;
    font-size: 15pt;
    margin-top: 15px;
}

.ullevel2 {

    width: 95% !important;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #fbfbfb;
    border-radius: 5px;
    display: none;

}

.ullevel2 li {
    width: 100%;
    min-height: 40px;
    font-size: 11pt;
    position: relative;
}

.ullevel2 li.active {

    background: linear-gradient(#8219b3,
    #da80ff);
    border-radius: 10px 10px 10px 10px;
    width: 95%;
    right: 5px;
    border: none;

}

.ullevel2 li.active p {

    color: white;

}

.ullevel2 li.active:hover p {

    color: white;

}

.ullevel2 li.active i {
    color: white;
}

.ullevel2 li.active:hover i {
    color: white;
}

.ullevel2 li:hover > i {

    color: linear-gradient(#8219b3, #da80ff);
}

.ullevel2 li:hover > p {

    color: linear-gradient(#8219b3, #da80ff);
}

/*.ullevel2 li.active::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 3px;
    border-color: transparent transparent transparent white;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}*/

.ullevel2 li i {
    float: right;
    width: 25px;
    height: 25px;
    font-size: 10pt;
    text-align: center;
    padding: 4px;
    color: #666;
    margin-top: 10px;
}

.ullevel2 li p {
    float: right;
    font-size: 10pt;
    text-align: right;
    color: #646161;
    padding: 4px;
    margin-top: 5px;
}

/*sidebarpanel*/

.div-content {
    float: left;
    min-height: 500px;
    padding: 0;
    padding-right: 200px;
    border-radius: 3px;
    margin-top: 2px;
}

.div-content > div {

    width: 100%;
    float: right;
    min-height: 500px;
}

.div-content2 {
    min-height: 470px;
    float: right;
    width: 100%;
    border-radius: 5px;
    background-color: #f7f7f7;

}

.divheaderserach {
    float: right;
    width: 100%;
    border-radius: 5px;
    background-color: #f4f4f4;

}

.divheaderserach > div {
    padding-right: 0px;
    margin-top: 10px;
    float: right;
    margin-bottom: 5px;
    min-height: 45px;
}

.divheaderserach > div input {
    border: none;
}

.loading {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    z-index: 3000;
    display: none;
}

.loading > div {
    width: 230px;
    background-color: white;
    height: 95px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
}

.loading > div h4 {
    font-size: 11pt;
    margin-top: 30px;
    text-align: center;
    font-family: yekan;
    color: rgb(247, 56, 56);
}

.loading > div > img {
    width: 55px;
    height: 55px;
    position: absolute;
    right: 0;
    left: 0;
    top: 15px;
    margin: auto;
}

.loading > div > span {

    position: absolute;
    bottom: 5px;
    right: 0;
    width: 165px;
    left: 0;
    margin: auto;
    height: 25px;

}

.part .btn {
    margin: 0;
}

/*style setting*/

.setting {

    width: 100%;
    min-height: 400px;
    float: right;

}

.setting ul li {

    height: auto;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;

}

.setting ul li > div {

    width: 100%;
    min-height: 115px;
    border: 1px solid;
    border-radius: 3px;
    font-family: yekan;
    position: relative;
    float: right;
}

.setting ul li div label {
    width: 100%;
    height: 35px;
    color: #195e47;
    padding: 10px;
    font-size: 11pt;
    line-height: 14px;
    text-align: right;
}

.setting ul li div input {

    padding: 10px;
    font-size: 11pt;
    text-align: left;
    font-family: Tahoma;
}

.setting ul li div .errorupdatesetting {

    text-align: right;
    font-family: yekan;
    color: red;
    font-size: 10pt;
    margin: 0;
    padding: 5px;
}

.bootstrap-select .btn {
    margin: 0
}

.formregister .card-body > div {
    float: right;
}

.dropdownprint .dropdown-item {

    min-height: 30px;

}

.dropdownprint .dropdown-item p {
    width: auto;
    float: right;
    font-size: 10pt;
    color: #535151;
}

.dropdownprint .dropdown-item i {
    float: left;
    font-size: 12pt;
    margin-top: 3px;
    color: #535151;
}

.browsernotsupport {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3000;
    display: none;
}

.browsernotsupport::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    right: 0;
}

.browsernotsupport img {

    width: 115px;
    height: 115px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    margin-top: auto;
    display: block;
    margin-top: 50px;
}

.browsernotsupport h4 {

    width: 217px;
    height: 34px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    margin-top: auto;
    text-align: center;
    margin-top: 16px;
    font-size: 22pt;
    color: #ff3000;

}

.browsernotsupport p {

    width: 100%;
    min-height: 30px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    color: white;
    text-align: center;
    margin-top: 15px;

}

custom-select {
    min-width: 50px !important;
    direction: ltr;
}

.swal-text {
    text-align: right;
    font-size: 11pt;
    color: #666;
}

.swal-title {

    font-size: 18px !important;
}

/*
.swal-icon {
    width: 65px;
    height: 65px;
}

.swal-icon--warning__body {
    height: 30px;

}
*/

.container-fluid {
    padding-right: 5px !important;
    padding-left: 5px !important;

}

.dropdown-menu {
    right: 0 !important;
    transform: none !important;
}

.flat {
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 2px 1px #eee;
    float: right;
    padding-right: 2px;
    padding-left: 2px;
}

.flat ul {
    width: 100%;
    float: right;
    padding: 0 !important;

}

.flat ul li {
    width: 100%;
    float: right;
    height: auto;
    border-bottom: 1px solid #c8c8c8;
    display: block;

}

.flat ul li:last-child {
    border-bottom: none;
}

.flat ul li > div {
    float: right;
    min-height: 35px;
    padding: 5px;
    font-size: 10pt;
    line-height: 30px;
    color: #686868;
}

.flatright {
    width: 40%;
    text-align: right;
}

.flatleft {
    width: 60%;
    text-align: right;

}

.flatleft i {
    width: 30px;
    height: 30px;
    text-align: center;
    float: left;
    font-size: 15pt;
    line-height: 30px;
    color: #606060;
    cursor: pointer;
}

/*آپلود تصاویر*/

.file-upload {
    width: 100%;
    height: 170px;
    background-color: white;
    float: right;
    position: relative;
    border: 1px dashed #01c2ed;
}

.file-upload:hover {

    background-color: #eee;

}

.iconuploadercenter {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}

.iconuploadercenter i {

    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    color: #01c2ed;
    width: 60px;
    height: 50px;
}

.iconuploadercenter p {
    width: 100%;
    margin: auto;

    color: #cbcbcb;
    min-height: 35px;
    font-family: yekan;
    position: relative;
    float: right;
    margin-top: 50px;
    text-align: center;
    line-height: 35px;
    font-size: 11pt;
}

.file-upload input {

    display: flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 170px;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: center;
    color: #ccc;
    opacity: 0;

}

.showimgloading {
    width: 100%;
    height: 100%;
    float: right;
    z-index: 2;
    position: absolute;
    background-color: white;
    display: none;

}

.showimgloading .btn {
    z-index: 10;
}

.showimgloading::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: white;
}

.showimgloading img {
    width: 100%;
    height: 100%;
    float: right;
    position: absolute;
    right: 0;

}

.showimgloading a {
    position: absolute;
    float: right;
    top: 5px;
    right: 0;
}

.showerroruploadimg {

    width: 100%;
    height: 100%;
    float: right;
    z-index: 2;
    position: absolute;
    display: none;

}

.showerroruploadimg p {

    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: yekan;
    font-size: 13pt;
    color: #ff3f00;
    height: 32px;
}

.showerroruploadimg p {

    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: yekan;
    font-size: 13pt;
    color: #ff3f00;
    height: 32px;
}

.showerroruploadimg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

/*پایان آپلود تصاویر*/

.tab-content {
    padding-right: 0;
    padding-left: 0;
}

input {
    font-size: 11pt !important;
}

.lipart {

    min-height: 160px;
    float: right;
    margin-top: 10px
}

.lipart > div {

    width: 100%;
    background-color: #fbfbfb;
    border-radius: 5px;
    float: right;

}

.lipart > div > h4 {

    width: 95%;
    padding: 8px;
    text-align: right;
    font-size: 13pt;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    margin-top: 5px;
    border-radius: 5px;
    height: 40px;
    color: #fff;
    background: linear-gradient(#8219b3, #da80ff);

}

.detailsuser {
    width: 100%;
    height: auto;
    float: right;
    font-family: yekan;
    border-radius: 5px;
}

.detailsuser > ul {
    width: 100%;
    height: auto;
    float: right;
}

.detailsuser > ul > li {
    min-height: 40px;
    float: right;
    margin-bottom: 20px;
    margin-top: 10px;
}

.detailsuser .iconsave {

    display: none;
    color: #2a9b2c;
}

.detailsuser > ul > li i {
    cursor: pointer;
}

.iconedit {
    position: absolute;
    left: 5px;
}

.iconsave {
    position: absolute;
    left: 5px;

}

.detailsuser > ul > li > div {

    min-height: 50px;
    float: right;
    position: relative;
    width: 100%;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    background-color: #fff;
}

.detailsuser > ul > li > div > span {
    width: auto;
    height: 30px;
    float: right;
    font-size: 11pt;
    text-align: right;
    color: #7b63bf;
    margin-top: 10px;
    line-height: 27px;
}

.detailsuser > ul > li > div div > p {
    width: auto;
    height: 30px;
    float: right;
    font-size: 11pt;
    text-align: right;
    color: #666;
    margin-right: 4px;
    margin-bottom: 0;
    line-height: 30px;
    margin-top: 4px;
}

.detailsuser > ul > li i {
    width: 20px;
    height: 20px;
    float: right;
    text-align: center;
    color: #7b63bf;
    margin-right: 2px;
    margin-top: 14px;
    font-size: 13pt;
    margin-left: 5px;
}

.detailsuser > ul > li input {
    position: absolute;
    right: 0;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 11pt;
    color: #8a8989;
    padding-right: 3px;
    font-family: yekan;
    width: 90%;
    display: block;
}

.detailsuser .divedit {

    position: relative;
    float: right;
    height: 40px;
    padding-right: 0;
    margin-top: 4px;

}

.detailsuser .divedit input {

    display: none;

}

.detailsuser > ul > li select {
    position: absolute;
}

.bedehkaran {

    min-height: 300px;

}

.hazine {

    min-height: 300px;

}

.jarime {

    min-height: 300px;

}

.daramad {

    min-height: 300px;
}

.ullist {
    width: 95%;
    height: 240px;
    background-color: white;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    margin-top: 5px;
    float: unset;
    border-radius: 5px;

}

.ullist li {

    float: right;
    width: 100%;
    margin-top: 3px;
    min-height: 55px;
    border-bottom: 1px solid #fbfbfb;
}

.ullist li > img {

    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #eee;
    float: right;
    margin-right: 5px;
    margin-top: 5px;

}

.ullist li > h4 {

    float: right;
    font-size: 11pt;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 4px;
    color: #605f5f;;
    line-height: 25px;

}

.ullist li > p {

    float: left;
    padding: 13px;
    color: #7870b0;
}

.ulinsert {
    width: 100%;
    float: right;
    min-height: 140px;
    border-radius: 5px;
    padding: 5px;
    background-color: #fbfbfb;
}

.ulinsert > li {

    float: right;
    height: auto;
    margin-top: 10px;
}

.ulinsert > li > div {

    width: 100%;
    float: right;
    min-height: 112px;
}

.ulinsert > li div > label {
    text-align: right;
    width: 100%;
    color: #535252;
    height: 35px;
    font-size: 11pt;
    line-height: 30px;
}

.ulinsert > li input {

    border: 1px solid #eee;;
}

.libagmoneyresident .btn {
    padding: 8.5px !important;
}

.moredetails {

    width: 100%;
    float: right;
    margin-top: 10px;

}

.moredetails li {

    float: right;
    height: auto;

}

.moredetails li > div {
    width: 100%;
    float: right;
    min-height: 35px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #fbfbfb;
    border-radius: 3px;
    padding: 10px;
}

.moredetails li > div label {

    float: right;
    text-align: right;
    color: #fd886d;
    font-size: 11pt;

}

.moredetails li > div p {

    float: right;
    text-align: right;
    color: #666;
    padding-right: 5px;
    font-size: 11pt;
}

.divdetailsdashboard {

    width: 100px;
    height: 60px;
    float: right;
    background-color: #eee;
}

/*
.divslider{
    width: 260px;
    height: 260px;
    position: relative;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 5px;
    background-color:red ;
}*/

.ulsetting {
    width: 100%;
    min-height: 500px;
    background-color: #eee;
    border-radius: 5px;
    margin-top: 10px;
}

.ulsetting li {

    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.ulsetting li > div {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    min-height: 110px;
}

.ulsetting li > div label {
    width: 100%;
    text-align: right;
    color: #666;
    height: 30px;
    font-size: 11pt;
    line-height: 30px;
}

/*
style acountuser*/

.part {
    width: 100%;
    min-height: 180px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 0 0 1px 1px #eee;
    position: relative;
    float: right;
}

.part-right {

    height: 100%;
    float: right;
    padding-left: 0;
}

.part-left {

    height: 100%;
    float: right;
    padding-right: 0;
}

.part-right i {
    color: #808080;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.part-header {
    width: 100%;
    min-height: 50px;
    float: right;
}

.part-header h4 {
    float: right;
    color: #484747;
    font-size: 11pt;
    padding: 18px;
    padding-right: 0;
}

.part-body {
    width: 100%;
    float: right;

}

.part-body > ul {
    width: 100%;
    float: right;
}

.part-body > ul > li {
    width: 100%;
    float: right;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;

}

.part-body > ul > li > div {
    width: 100%;
    float: right;
    min-height: 100px;
    position: relative;

}

.part-body > ul > li > div label {
    width: 100%;
    float: right;
    text-align: right;
    font-size: 11pt;
    color: #333;
}

.part-body > ul > li > div input {
    background-color: #f9f9f9;
    border: 1px solid #f2f2f2;
}

.divbuttom {
    width: 100%;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.buttommaked {
    width: 160px;
    height: 35px;
    background-color: #01c2ed;
    text-align: center;
    color: white;
    float: left;
    border: none;
    border-radius: 3px;
    font-size: 11pt;
}

/*
style acountuser*/

/*
style managerequest*/

.ulstatusrequest {
    width: 100%;
    float: right;
    margin-top: 15px;
}

.ulstatusrequest li {
    float: right;
    height: 130px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ulstatusrequest li > div {
    width: 100%;
    height: 100%;
    float: right;
    background-color: white;
    box-shadow: 0 0 1px 1px #eee;
    border-radius: 3px;
    position: relative;
}

.ulstatusrequest li > div img {
    width: 55px;
    height: 55px;
    position: absolute;
    right: 0;
    display: block;
    margin-top: 35px;
    margin-right: 20px;
}

.ulstatusrequest li > div h4 {
    float: right;
    margin-right: 90px;
    margin-top: 42px;
    font-size: 23pt;
}

.ulstatusrequest li > div p {
    float: right;
    width: 100%;
    text-align: center;
    color: #848689;
    font-size: 11pt;
    margin-top: 5px;
}

.falttitle {
    width: 100%;
    float: right;
    height: 40px;

}

.falttitle li {
    float: right;
}

.falttitle p {
    text-align: center;
    color: #ccc;
}

/*
style managerequest*/

.maincolor {
    color: #01c2ed !important;
}

/*
style managemoney*/

.ulbagmoney {
    width: 100%;
    margin-top: 10px;
    min-height: 200px;
    float: right;

}

.ulbagmoney li {
    margin-bottom: 15px;
    float: right;
    height: auto;

}

.ulbagmoney li > div {

    width: 100%;
    background-color: white;
    height: 240px;
    border-radius: 5px;
    float: right;
    position: relative;
}

.ulbagmoney li > div input {
    font-size: 12pt !important;
    width: 85%;
    height: 35px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    display: block;
    margin-top: 11px;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 2px solid #eee;
    text-align: center;
    box-shadow: 0 0 !important;
    color: #038fae;
}

.ulbagmoney li > div img {
    width: 50px;
    height: 35px;
    border-radius: 3px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ulbagmoney li > div h4 {
    text-align: center;
    margin-top: 5px;
    font-size: 15pt;
}

.ulbagmoney li > div p {
    text-align: center;
    margin-top: 5px;
    font-size: 15pt;
}

.bagmoneyborderdown {
    width: 100%;
    float: right;
    position: absolute;
    bottom: 0;
    height: 25px;
    border-radius: 0px 0 7px 7px;
}

.bagmoneyborderdown > div {
    width: 196px;
    float: right;
    position: absolute;
    height: 40px;
    background-color: white;
    right: 0;
    left: 0;
    margin: auto;
    border: 1px solid #ed2c01;
    border-radius: 10px;
    top: -7px;
    text-align: center;
    font-size: 10pt;
    line-height: 33px;
    cursor: pointer;

}

.bagmoneyborderdown span {
    width: 95px;
    float: right;
    position: absolute;
    height: 40px;
    background-color: white;
    right: 0;
    left: 0;
    margin: auto;
    border: 1px solid #aaa;
    border-radius: 10px;
    top: -7px;
    text-align: center;
    font-size: 10pt;
    line-height: 33px;
    cursor: pointer;
}

@media (max-width: 300px) {
}

/*
style managemoney*/

.tx-primery {
    color: #01c2ed !important;
}

.bg-primery {
    background-color: #01c2ed !important;
}

.bg-yellow {
    background-color: yellow !important;
}

.tx-gray {
    color: #848689 !important;
}

.bg-gray {
    background-color: #848689;
}

.tx-red {
    color: #ed2c01 !important;
}

.bg-red {
    background-color: #ed2c01;
}

.tx-green {
    color: #01eda2 !important;
}

.bg-green {
    background-color: #01eda2;
}

.ulshowmadarek {

    width: 100%;
    float: right;
}

.ulshowmadarek li {

    float: right;
    margin-bottom: 15px;

}

.ulshowmadarek li > div {
    width: 100%;
    float: right;
    box-shadow: 0px 0px 1px 1px #eee;
    border-radius: 3px;
}

.ulshowmadarek li > div img {
    width: 100%;
    height: 160px;
    border-radius: 3px;

}

.ulshowmadarek li > div h4 {
    width: 100%;
    height: 35px;
    float: right;
    font-size: 12pt;
    text-align: center;
    line-height: 35px;

}

.morerequest {
    width: 100%;
    height: auto;
    float: right;
}

.informationuser {
    width: 100%;
    min-height: 110px;
    margin-bottom: 10px;
    margin-top: 5px;
    float: right;
    border-radius: 3px;
    background-color: #27c0c8;
}

.informationuser ul {
    width: 100%;
    float: right;
}

.informationuser ul li {
    float: right;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;

}

.informationuser ul li > div {
    width: 100%;
    float: right;
    min-height: 30px;
    background-color: #fff;
    border-radius: 3px;
}

.informationuser ul li > div label {
    height: 25px;
    margin-top: 8px;
    float: right;
    margin-right: 5px;
}

.informationuser ul li > div p {
    float: right;
    min-height: 25px;
    margin-top: 8px;
    margin-right: 5px;
}

.modalmaked {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2500;
    border: none;
    overflow: auto;
    display: none;
    background-color: white;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 240px;
    border-radius: 3px;
    box-shadow: 0 0 0px 1px #ccc;
    height: 100%;
}

.modalmaked .modal-header {
    height: 55px;
    float: right;
    width: 100%;
}

.modalmaked .modal-header > button {
    margin-left: 0px;
    color: white;
    background-color: #fff;
    height: 28px;
    margin-top: 0px;
    border-radius: 5px;
    padding: 0;
    width: 75px;
    opacity: unset !important;
    border: 1px solid #9f9f9f;
    z-index: 2;
    position: absolute;
    left: 20px;
}

.modalmaked .modal-body {
    width: 100%;
    float: right;
    background-color: white;
    font-size: 11pt;
    font-family: yekan;
    text-align: justify;
    color: #777;;
    min-height: 600px;
}

.modalmaked .modal-header button span {

    color: #7b7878;
    font-size: 10pt;
    font-weight: normal;
    float: right;
    padding-right: 7px;
    line-height: 25px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    height: 30px;
}

.modalmaked .modal-header button i {
    margin-top: 4px;
    float: left;
    margin-left: 5px;
    color: #aeaeae;
    font-size: 13pt;
}

.ulstrizfactore {
    width: 100%;
    float: right;
    margin-top: 10px;
    min-height: 100px;

}

.ulstrizfactore li {
    float: right;
    position: relative;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 0 0px 1px #eee;
}

.ulstrizfactore li > div {
    min-height: 45px;
    float: right;
    padding: 7px;
    line-height: 28px;
}

.ulstrizfactore li i {
    position: absolute;
    left: 10px;
    top: 5px;
    cursor: pointer;
}

/*
style factor*/

.factor {
    min-height: 300px;
    height: auto;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    border-radius: 2px;
    position: relative;
    display: flow-root;
    box-shadow: 0 0 0px 1px #eee;
    margin-top: 45px;
    background-color: white;
}

.factor_header {
    width: 100%;
    min-height: 40px;
    float: right;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.factor_header ul {
    width: 100%;
    height: auto;
    float: right;
}

.factor_header ul li {
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
}

.factor_header ul li > div {
    min-height: 20px;
    float: right;
    height: auto;
    width: 100%;

}

.factor_header .lilogo {
    width: auto;

}

.factor_header .lilogo img {
    width: 100px;
    height: 18px;
    float: right;
    margin-top: 8px;
}

.lih4header {
    width: 310px;
    margin-top: 15px;
}

.lih4header h4 {
    width: 100%;
    text-align: center;
}

.lidate_numberfactor {
    width: auto;
    position: relative;
}

.lidate_numberfactor > div {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 3px;
    left: 0;
}

.lidate_numberfactor > div div {
    height: 30px;
    width: auto;
    float: right;
}

.lidate_numberfactor > div div p {
    height: 31px;
    text-align: right;
    padding: 2px;
    font-size: 10pt;
    float: right;
    color: #4a4848;
    text-align: center;

}

.lidate_numberfactor > div div h4 {
    height: 30px;
    width: auto;
    float: right;
    font-size: 10pt;
    margin: 0;
    line-height: 28px;
    color: red;
    margin-left: 5px;
}

.factor_body {
    width: 100%;
    float: right;
    padding: 10px;

}

.factor_body > h4 {

    width: 100%;
    float: right;
    text-align: right;
    margin-top: 5px;
    height: 40px;
    font-size: 15pt;
    line-height: 35px;
    padding-right: 3px;

}

.factor_body table td {
    line-height: 15px !important;
    padding: 2px !important;
}

.ulfieldfacture {
    width: 100%;
    float: right;
    margin-top: 10px;
}

.ulfieldfacture li {
    float: right;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #eee;
    height: auto;
}

.ulfieldfacture li > div {
    min-height: 45px;
    float: right;
    line-height: 35px;
}

.checkdiscountcode {
    position: absolute;
    font-size: 9pt;
    width: 38px;
    text-align: center;
    color: white;
    border-radius: 3px;
    left: 3px;
    top: 46px;
    height: 32px;
    line-height: 30px;
    cursor: pointer;

}

.blockdiscountcode {
    position: absolute;
    font-size: 9pt;
    width: 100%;
    text-align: center;
    color: #076611;
    border-radius: 3px;
    right: 0;
    top: 43px;
    height: 38px;
    line-height: 37px;
    cursor: pointer;
    background-color: rgba(21, 193, 31, 0.3);
    display: none;
}

.topbarmenue {
    position: absolute;
    width: 146px;
    float: left;
    top: 63px;
    left: -10px;
    background-color: white;
    z-index: 3;
    min-height: 210px;
    box-shadow: 0px 0 1px 1px #eee;
    display: none;
}

.topbarmenue ul li {;
    width: 100%;
    height: 35px;
    text-align: right;
    padding-right: 25px;
    font-size: 10pt;
    line-height: 30px;
    cursor: pointer;
}

.topbarmenue ul li:hover {;
    background-color: #fbfbfb;
    border-right: 2px solid #ed2c01;
    padding-right: 23px;
}

.Rate {
    direction: ltr !important;
    width: 215px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

.Rate__view span {
    font-size: 10pt;
    color: white;
}

.ratekarshenas {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 90px;
    right: 15px;
}

.ratekarshenas i {
    color: #f9de0a;
}

.ratekarshenas p {
    float: right;
    width: 25px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: 6px;
    left: 10px;
    color: #ffc20c;
}

.divsearchdashboard {

    width: 100%;
    min-height: 200px;
    background-color: white;
    box-shadow: 0 0 1px 1px #eee;
    border-radius: 3px;
    margin-top: 20px;
}

.divsearchdashboard > h4 {
    margin-top: 11px;
    text-align: right;
    height: 35px;
    font-size: 12pt;
    padding: 10px;
    float: right;
    line-height: 15px;
}

.divsearchdashboard > div {
    height: 50px;
    position: relative;
    float: none;
    right: 0;
    left: 0;
    margin: auto;
    display: flow-root;
    top: 20px;
}

.divsearchdashboard > div input {
    height: 50px;
}

.divsearchdashboard > div i {
    font-size: 20pt;
    position: absolute;
    top: 1px;
    left: 17px;
    width: 50px;
    height: 48px;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.uldashboard {
    width: 100%;
    margin-top: 30px;
    float: right;
}

.uldashboard > li {
    float: right;
    height: auto;
    margin-bottom: 20px;
}

.uldashboard > li > div {
    width: 100%;
    border-radius: 5px;
    float: right;
    min-height: 170px;
}

.uldashboard > li > div h4 {
    float: right;
    height: 40px;
    text-align: right;
    font-size: 12pt;
    border-bottom: 1px solid white;
    line-height: 35px;
}

.uldashboard > li > div > div {
    width: 100%;
    float: right;
    min-height: 30px;
    margin-top: 5px;

}

.uldashboard > li > div > div {
    width: 100%;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
}

.uldashboard > li > div > span {
    width: 115px;
    float: left;
    margin-top: 10px;
    background-color: white;
    height: 35px;
    margin-left: 8px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 10pt;
    margin-bottom: 5px;
}

.uldashboard > li > div > div p {
    width: 50%;
    text-align: center;
    color: forestgreen;
    float: right;
    font-size: 12pt;
}

.uldashboard > li > div > div span {
    width: 50%;
    text-align: right;
    float: right;
    display: block;
    color: red;
}

.uldashboard > li > div > ul {
    width: 100%;
    float: right;
}

.uldashboard > li > div > ul li {
    width: 100%;
    float: right;
    margin-bottom: 5px;
}

.uldashboard > li > div > ul li p {
    float: right;
    font-size: 10pt;
    padding-right: 10px;
    height: 30px;
    color: white;
}

.uldashboard > li > div > ul li span {
    float: left;
    font-size: 8pt;
    padding-left: 8px;
    color: white;
}

.divinsertrequeststeps {
    width: 100%;
    float: right;
    min-height: 400px;
    margin-top: 20px;
}

.insertrequeststepslarge {

    float: right;
    margin-bottom: 10px;

}

.insertrequeststepslarge > div {

    width: 100%;
    height: 260px;
    float: right;
    background-color: white;
    border-radius: 5px;

}

.insertrequeststepslarge > div ul {

    width: 100%;
    float: right;
}

.insertrequeststepslarge > div ul li {
    width: 100%;
    height: 65px;
    text-align: center;
    float: right;
    line-height: 65px;
    cursor: pointer;
}

.insertrequeststepslarge > div ul li.active {
    background-color: #01eda2;

}

.insertrequestbody {
    float: right;

}

.insertrequestbody > section {
    float: right;
    padding: 0 !important;
    display: none;
    margin-top: 0;

}

.insertrequestbody > div {
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    border-radius: 5px;
}

.section1_chosedostan {

    min-height: 40px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 20px;

}

.section1_chosedostan > h4 {
    float: right;
    text-align: right;
    font-size: 13pt;
    height: 40px;
    line-height: 35px;
    width: 125px;
    padding-right: 15px;
}

.section1_chosedostan > div {
    float: right;
    margin-bottom: 10px;
}

.section1_chosedmaincat {
    width: 100%;
    min-height: 200px;
    background-color: #01eda2;
    float: right;
    margin-top: 40px;
    padding: 0;
}

.section1_chosedmaincat > div {
    min-height: 100px;
    margin-top: 10px;
    float: right;

}

.section1_chosedmaincat_right > h4 {
    width: 100%;
    height: 35px;
    text-align: right;
    color: white;
    text-align: center;
    margin: 0;
}

.section1_chosedmaincat_right > img {
    width: 65px;
    height: 65px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    margin-top: 15px;
}

.section1_chosedmaincat_left > div {

    height: 150px;
    margin-top: 15px;
    position: relative;
    border-radius: 5px;

}

@media screen and (max-width: 770px) {


    .ulstatusrequest{
        margin-top: 5px;
    }

    .ulstatusrequest li{
        margin-top: 0;
    }




    .uldashboard > li {
        padding: 0 !important;
    }

    .divinsertrequeststeps {
        margin-top: 5px !important;
    }

    .divsearchdashboard {
        margin-top: 5px !important;
    }

    .divinsertrequeststeps > div {
        padding: 0 !important;
    }

    .section1_stepsdown > div ul li > div img {
        width: 60px !important;
        height: 60px !important;
    }

    .insertrequeststepslarge > div ul li {
        width: 25% !important;
        height: 50px !important;
        font-size: 10pt !important;
        line-height: 50px !important;
    }

    .insertrequeststepslarge > div {
        height: 50px !important;
    }
}

.items {
    height: 130px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.items.active::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(27, 159, 223, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
}

.items img {
    height: 60px;
    width: 65px !important;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: auto;
    top: 10px !important;
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.items p {
    width: 100%;
    text-align: center;
    float: right;
    margin-top: 10px;
}

.owl-next {
    position: absolute;
    top: 45px;
    width: 25px;
    left: -30px;
}

.owl-prev {
    position: absolute;
    top: 45px;
    width: 25px;
    right: -30px;
}

.owl-dots {
    display: none;
}

.section1_stepsdown {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 50px;
}

.section1_stepsdown > div {
    width: 100%;
    min-height: 300px;
    float: right;
    display: none;

}

.section1_stepsdown > div h4 {

    width: 100%;
    min-height: 30px;
    float: right;
    text-align: center;
    margin-top: 10px;
    font-size: 13pt;
    padding: 10px;
}

.section1_stepsdown > div p {

    width: 100%;
    min-height: 30px;
    float: right;
    text-align: center;
    font-size: 11pt;
    padding: 10px;

}

.section1_stepsdown > div textarea {

    height: 200px;
    float: right;
    font-size: 11pt;
    margin-top: 10px;
    margin-bottom: 10px;

}

.section1_stepsdown > div ul {
    width: 100%;
    float: right;
    margin-top: 10px;
}

.section1_stepsdown > div ul li {

    float: right;
    height: auto;
    margin-bottom: 10px;

}

.section1_stepsdown > div ul li > div {
    width: 100%;
    float: right;
    height: 130px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #fdfdfd;
    cursor: pointer;
    box-shadow: 0 0 1px 1px #eee;

}

.section1_stepsdown > div ul li.active > div::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(27, 159, 223, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
}

.section1_stepsdown > div ul li > div img {
    width: 55px;
    height: 55px;
    position: relative;
    margin-bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    top: 10px
}

.section1_stepsdown > div ul li > div p {
    width: 100%;
    text-align: center;
    float: right;
    margin-top: 10px;

}

.nextitem {
    width: 100%;
    height: 60px;
    float: right;
    margin-top: 10px;
}

.nextitem > span {
    width: 120px;
    height: 40px;
    position: relative;
    left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
    color: white;
    line-height: 40px;

    cursor: pointer;
    float: left;
}

.chosedaddress {

    width: 100%;
    min-height: 120px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    float: right;

}

.chosedaddress > h4 {

    width: 100%;
    padding: 10px;
    margin-top: 13px;
    text-align: right;
    font-size: 13pt;
    float: right;

}

.chosedaddress > ul {
    width: 100%;
    float: right;
}

.chosedaddress > ul li {

    width: 100%;
    float: right;
    min-height: 40px;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    margin-bottom: 5px;

}

.chosedaddress > ul li span {

    width: 22px;
    height: 22px;
    background-color: #eee;
    border: 1px solid #eee;
    float: right;
    margin-bottom: 10px;
    border-radius: 100px;
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;

}

.chosedaddress > ul li span.active::before {

    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #01eda2;
    border-radius: 100px;

}

.chosedaddress > ul li p {
    text-align: right;
    padding-right: 30px;
    font-size: 11pt;
}

.insertnewaddres {
    width: 100%;
    float: right;
    min-height: 300px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
}

.finalinsertrequest {
    width: 100%;
    min-height: 300px;
    background-color: white;
    float: right;
}

.finalinsertrequest > p {
    width: 100%;
    min-height: 40px;
    float: right;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 14pt;
}

.finalinsertrequest > h4 {
    width: 100%;
    float: right;
    text-align: center;
    margin-top: 30px;
    font-size: 12pt;
    margin-top: 5px;
    padding: 10px;
}

.search {
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 95%;
    margin: 10px;
    margin-bottom: 20px;
}

.search input {
    height: 45px;

}

.divpaginate {
    position: relative;
    margin: 10px;

}

.divpaginate ul {

    margin: 0 !important;

}

.divpaginate .pagination .page-item .page-link {
    color: #023719;
}

.divpaginate .pagination .page-item.active .page-link {
    background-color: #00ffae !important;
}

.divpaginate .pagination .page-item.active .page-link {
    color: #023719 !important;
}

/*.texterror_requestmoney{*/
/*width: 85%;*/
/*text-align: right !important;*/
/*position: relative;*/
/*right: 0;*/
/*left: 0;*/
/*margin: auto;*/
/*display: block;*/
/*margin-top: 2px !important;*/
/*font-size: 11pt !important;*/
/*color: #f45;*/
/*}*/

.cardshaba {
    width: 30px;
    height: 25px;
    display: block;
    float: left;
    left: 2%;
    position: absolute;
    background-color: #e8e8e8;
    z-index: 1;
    border-radius: 3px;
    top: 10px;
    text-align: center;
    font-family: tahoma;
    color: #666;
}

/*setting swal*/

.swal-footer {
    direction: rtl !important;
    float: right !important;
    width: 100% !important;
    background-color: rgb(245, 248, 250);
    border-top: 1px solid #E9EEF1;
    height: 51px;
    padding: 0;
}

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: right;
    color: #61534e;
}

.swal-footer > div {
    float: right !important;
}

.swal-overlay {
    background-color: rgba(43, 142, 165, 0.45);
}

.form-control:focus {

    background-color: unset;
    outline: 0;
    box-shadow: none !important;
    border-color: #ccc !important;
}
