@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,500,600,700,800,900');

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/IRANSansWeb_Bold.eot');
    src: url('fonts/IRANSansWeb_B old.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('fonts/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/IRANSansWeb_Medium.eot');
    src: url('fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('fonts/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/IRANSansWeb_Light.eot');
    src: url('fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('fonts/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('fonts/IRANSansWeb_UltraLight.eot');
    src: url('fonts/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('fonts/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/IRANSansWeb.eot');
    src: url('fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/IRANSansWeb.ttf') format('truetype');
}

a, h1, p, b, h2, body, h3, h4, h6, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: IRANSans !important
}

/*
================================================
2. Common CSS
================================================
*/
* {
    margin: 0;
    padding: 0;
    x
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    text-transform: none;
    line-height: 23px;
}

h1 {
    font-size: 30px
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h4 {
    font-weight: 600;
}

p {
    font-size: 14px;
    text-align: center;
    color: #666;
    direction: rtl;

}



a, a:hover, a:active, a:focus {
    outline: none;
    border: none;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

a {

    transition: all 0.3s ease 0s;
}

a:focus, a:hover {
    color: #101010;
}

body, html {
    height: 100%;
    text-align: right;
}

section {
    width: 100%;
    float: right;
    padding: 80px 0;
    direction: rtl;
}

.section-title {
    text-align: center;
    margin: 0 0 25px;
    width: 100%;
}

section h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    padding: 12px 10px 10px;
}

.section-title h2 {
    font-size: 35px;
    letter-spacing: 1.2px;
    padding: 0 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
}

.margin-top-10 {
    margin-top: 10px;
}

.centerbutton{
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    float: none;
    display: block !important;
    width: 120px;
}


.margin-bottom-1 {
    margin-bottom: 10px;
}


.margin-bottom-2 {
    margin-bottom: 30px;
}

.padding-1 {
    padding: 10px;
}

.padding-2 {
    padding: 20px;
}

.text-color {
    color: white;
}

.space {
    padding-bottom: 40px;
}

.ln-sp {
    width: 70%;
    margin: 0 auto;
}

.ln-sp-2 {
    width: 85%;
    float: left;
}

.line-height-1 {
    line-height: 23px;
}

.line-height-2 {
    line-height: 27px;
}

.bx-shadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.padding-no {
    padding: 0;
}

.dvd-line {
    border: 1px solid #d7d7d7;
    width: 80%;
    float: left;
}

/*
================================================
3. Loader CSS
================================================
*/
#loader {
    background: url(../images/loader.gif) no-repeat center center #101010;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999;
}

/*
================================================
5. header-top-area
================================================
*/
.header-top-area {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    -webkit-transition: .4s;
    transition: .4s
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.right_logo img{
  padding-top: 30px;
}

.logo a img {
    width: 150px;
    height: 30px;
}

.logo {
    padding-top: 25px

}

/*
================================================
6. Navigation
================================================
*/
.menu-bg {
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.menu-bg .logo {
    padding-top: 18px;
    transition: all 0.3s ease 0s;
}

.navbar-default {
    background-color: inherit;
    border-color: inherit;
    box-shadow: none !important;
}



.navbar {
    border-radius: 0;
    height:auto;
    margin: 0;
    border: none;
    z-index: 9;
}

.navbar-collapse {
    float: right;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    padding: 0;
    height: auto;
}

.navbar-nav > li {
    padding: 0;
    float: left;
}

.navbar-nav > li.callbtn {
    padding-right: 500px;
    float: left;
}



.navbar-default .navbar-nav li a {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    padding: 30px 13px;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}

.menu-bg .navbar-default .navbar-nav li a {
    padding: 20px 10px;
    transition: all 0.3s ease 0s;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: inherit;
    color: #01c2ed  ;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #01c2ed  ;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #01c2ed  ;
}

.menu-bg .logo a, .menu-bg .navbar-default .navbar-nav li a:hover {
    color: #01c2ed  ;
}

.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    background: #fff;
    border: none;
}

.menu-bg .navbar-nav li a {
    color: #666;
}

/*
================================================
7. Slider Area
================================================
*/

.H1-header {
    font-size: 15pt;
    color: #424242ed;
    line-height: 40px;
    margin-top: 230px;
}

.section-title h2 {
    font-size: 20pt;
}

.text_abuteus {

    text-align: justify;
    direction: rtl;
    font-size: 13pt !important;
    line-height: 35px;
    color: #595959;

}

.centertext{
    text-align: center;
}
.textalign-right{
    text-align: right;
}

.slider-sec-text {
    padding: 200px;
}

.h2-howworkus{
    color: #01c2ed  ;
    margin-bottom: 20px !important;
    padding: 0;
    font-size: 16pt;
    text-align: right !important;
}

.affix + .banner-wrapper {
    margin-top: 49px;
}

welcome-hero-area, .home-slider-area, .home-slider-area div {
    height: 550px;
}

@media only screen and (max-width: 990px) {
    welcome-hero-area, .home-slider-area, .home-slider-area div {
        height: 400px;
    }

    .H1-header {
        font-size: 14pt;
        line-height: 35px;
        margin-top: 245px;
    }

    .slider-sec-text {

        padding: 45px;
    }

}

@media only screen and (max-width: 920px) {
    welcome-hero-area, .home-slider-area, .home-slider-area div {
        height: 400px;
    }

    .H1-header {
        font-size: 14pt;
        line-height: 35px;
        margin-top: 245px;
    }

    .slider-sec-text {

        padding: 45px;
    }

}

@media only screen and (max-width: 720px) {
    welcome-hero-area, .home-slider-area, .home-slider-area div {
        height: 300px;
    }

    .H1-header {
        font-size: 12pt;
        margin-top: 137px;
        line-height: 30px;
    }

    .slider-sec-text {

        padding: 65px;
    }

    .section-title h2 {
        font-size: 18pt;
    }

    .text_abuteus {

        font-size: 12pt !important;
        line-height: 30px;

    }

}

@media only screen and (max-width: 520px) {
    welcome-hero-area, .home-slider-area, .home-slider-area div {
        height: 220px;
    }

    .H1-header {
        font-size: 11pt;
        margin-top: 100px;
        line-height: 30px;
    }

    .slider-sec-text {

        padding: 20px;

    }

}

.rtl {
    direction: rtl;
}
.justify {
    text-align: justify;
}

.welcome-hero-area div.single-slide-item-table-cell, .welcome-hero-area div.single-slide-item-table-cell div {
    height: auto;
}

.single-slide-item-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.single-slide-item-table {
    display: table;
    width: 100%
}

a.slide-btn {
    color: #CB4629;
    display: inline-block;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 12px 20px;
    width: 160px;
    transition: .5s;
    text-transform: uppercase;
}

a.slide-btn:hover {
    opacity: 0.6;
    border: none
}

.single-slide-item h2 {
    font-size: 50px;
    color: #fff;
    line-height: 70px;
    margin-bottom: 20px
}

.single-slide-item h2 span {
    color: #2980b9
}

.single-slide-item p {
    color: #fff;
    margin-bottom: 20px
}

.fixed-bg {
    background-attachment: fixed !important
}

.slide-1, .text-slide {
    background: url(../images/banner2.jpg);
    background-size: cover
}

.slide-2 {
    background: url(../images/banner3.jpg);
    background-size: cover
}

.slide-3 {
    background: url(../images/banner1.jpg);
    background-size: cover
}

.single-slide-item {
    position: relative;
    z-index: 1
}

.single-slide-item:after {
    background: rgba(0, 0, 0, .5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

a.welcome-control:focus, a.welcome-control:hover i {
    color: #01c2ed  ;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .item {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.carousel-fade .carousel-control {
    z-index: 2
}

.welcome-control {
    background: 0 0 !important;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 24px;
    height: 50px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    z-index: 20
}

.service-icon i, .single-featured i {
    border-radius: 50%;
    text-align: center
}

.right.welcome-control {
    left: auto;
    right: -52px
}

.left.welcome-control {
    left: -52px
}

.home-slider-area:hover .right.welcome-control {
    right: 30px;
    transition: .25s;
    -webkit-transition: .25s;
    border: 1px solid #fff;
}

.home-slider-area:hover .left.welcome-control {
    left: 30px;
    transition: .25s;
    -webkit-transition: .25s;
    border: 1px solid #fff;
}

.featured-area {
    overflow: hidden
}

.single-featured {
    cursor: pointer
}

.single-featured h4 {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px
}

.single-featured i {
    background: #687074;
    color: #fff;
    display: block;
    font-size: 35px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto 10px;
    width: 80px
}

.service-icon i, a.about-btn, a.get-start-btn, ul.team-social > li, ul.work li {
    display: inline-block
}

.single-featured:hover i {
    background: #33d685;
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s
}

.home-slider-area .carousel-indicators {
    display: none;
}

/*fix srection */
.slider-sec {
    text-align: center;
    position: relative;
    background: url(../images/banner4.jpg);
    background-size:cover;
    z-index: 1;
}

.slider-sec h3 {
    color: #000;
}

a.btn-slider {
    border: 1px solid #000;
    color: #01c2ed  ;
    padding: 10px 20px;
}

a.btn-slider:hover {
    color: #fff;
    background: #01c2ed  ;
    border: 1px solid #01c2ed  ;
}

/*
================================================
 About Us
================================================
*/

.aboutus {
    background-color: #f4f4f4;
    text-align: center;
}

.aboutus .sec {
    width: 100%;
    float: left;
    padding: 20px;
    background-color: #fff;
}

.aboutus .sec-box i {
    font-size: 40px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
    border-radius: 100%;
    color: #01c2ed  ;
    border: 1px solid #f1f1f1;
    transition: background-color 400ms, background-color 400ms;
    position: relative;

}

.aboutusbtn a.btn {
    border: 0px solid #000;
    color: #ffffff  ;
    padding: 12px 20px;
    background: #01c2ed;
}


.aboutusbtn a.btn:hover {
    background:#f85632 ;
    color: white;
}


.aboutusbtn a.btn_call {
    border: 0px solid #000;
    color: #f85632  ;
    padding: 12px 20px;
}


.aboutusbtn a.btn_call:hover {
    background: #ffffff  ;
    color: black;

}









.aboutus .sec:hover {
    box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.05);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

/*
================================================
 About Us-2
================================================
*/
.ab-2-box h2 {
    text-align: justify;
    font-weight: 700;
    margin: 0;
}

.ab-2-box-sec {
    padding: 0px 10px;
    direction: rtl;
    text-align: CENTER;
}

/*
================================================
11. Services
================================================
*/
.services {
    background: #f8f8f8;
    padding: 65px 0 80px;
}

.services .section-title {
    margin: 0;
}

.service-callouts {
    text-align: center;
}

.service-callouts h2 {
    font-size: 20px;
    margin: 0 0 10px;
    line-height: normal;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}

.single-service {
    position:relative;
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 40px 20px 20px;
    font-weight: 400;
    margin: 25px 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-service .service-icon {
    border-radius: 50%;
    display: block;
    font-size: 40px;
    height: 120px;
    line-height: 129px;
    margin: 0 auto 20px;
    text-align: center;
    width: 120px;
}

.single-service h4,
.single-service h4 a {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #333;
    margin-bottom: 15px;
}

.single-service:before,
.single-service:after {
    position: absolute;
    content: "";
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 0;
    width: 3px;
}

.single-service:before {
    top: 0;
    left: 0;
}

.single-service:after {
    bottom: 0;
    right: 0;
}

.single-service:hover:before,
.single-service:hover:after {
    height: 90px;
}

.service-bar {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.single-service .service-bar:before,
.single-service .service-bar:after {
    background-color: #ed2c01;
}

.single-service:before,
.single-service:after {
    background-color: #ed2c01;
}

.single-service .service-icon {
    box-shadow: 0 0 0 8px #fff inset, 0 0 5px 0 rgba(51, 214, 133, 0.24);
    color: #01c2ed  ;
}

.single-service .service-bar:before,
.single-service .service-bar:after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-service .service-bar:before {
    right: 50%;
    top: 0;
}

.single-service .service-bar:after {
    left: 50%;
    bottom: 0;
}

.single-service:hover .service-bar:after,
.single-service:hover .service-bar:before {
    width: 50%;
}

.single-service:hover {
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.12);
}

.single-service:hover .service-icon {
    background-color: #ffffff;
}

/*
================================================
14. Testimonials Wrapper
================================================
*/
.testimonials-wrapper {
    width: 100%;
    float: left;
    background: url(../images/counters-bg.jpg) repeat left top;
    padding: 65px 0 80px;
    background-attachment: fixed;
}

.testimonials-wrapper blockquote {
    border-left: none;
    margin: 0;
    background: #fff;
    padding: 60px 40px;
    text-align: center;
}

.testimonials-wrapper blockquote h3 {
    text-transform: none;
    font-size: 20px;
}

.testimonials-wrapper h2 {
    color: #FFFFFF;
}

.testimonials-wrapper p {
    color: #666;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 30px;
    padding: 0;
}

.testimonials-wrapper h3 {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.testimonials-wrapper h3 i {
    font-size: 20px;
}

.testimonials-wrapper h4 {
    color: #777;
    letter-spacing: 1px;
}

.testimonials-wrapper .carousel-indicators .active {
    background-color: #01c2ed  ;
}

.testimonials-wrapper .carousel-indicators li {
    background-color: #01c2ed  ;
}

.testimonials-wrapper .carousel-indicators {
    bottom: 70px;
    right: 6%;
    width: auto;
    margin: 0;
    left: auto;
}

.testimonials-wrapper .carousel-indicators li:first-child {
    margin: 0;
}

.testimonials-wrapper .carousel-indicators li {
    height: 15px;
    margin: 0 0 0 5px;
    width: 4px;
    border-radius: 0;
    border: none;
    transition: all 0.2s ease 0s;
}

.testimonials-wrapper .carousel-indicators .active {
    height: 25px;
    width: 4px;
    border: none;
}

.testimonials-wrapper .client-name {
    margin-top: 15px;
}

.testimonials-wrapper .client-name p {
    margin: 0;
}

.testimonials-wrapper .client-name p b {
    font-weight: 700;
}

.testimonials-wrapper .test-img img {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    padding: 5px 5px 0;
    width: auto;
}

/*
================================================
16. Section-Feature
================================================
*/
.feature-sec {
    background-color: #6dd3f1  ;
    text-align: center;
}

.feature-sec h3 {
    color: #FFFFFF;
    text-transform: uppercase;
}

.feature-sec h1 {
    color: #000000;
    font-weight: 900;
    letter-spacing: 5px;
}

.feature-sec h6 {
    color: #000000;
}

.feature-sec a.btn {
    border: 1px solid #fff;
    color: #FFFFFF;
    padding: 12px 20px;
}

.feature-sec a.btn:hover {
    background: #FFFFFF;
    color: #f85632;
}

/*
================================================
14. Blog
  ================================================
*/
.blog-wrapper {
    background: #f7f7f7;
    position: relative;
    z-index: 99;
}

.blog-wrapper .section-title {
    margin: 0 0 -5px;
}

.blog-wrapper .single-blog-post {
    margin-top: 30px
}

.blog-wrapper .single-post-content {
    padding: 20px;
}

.blog-wrapper .single-post-content {
    background: #fff
}

.blog-wrapper .single-post-content a {
    color: #666;
    direction: RTL;
}

.blog-wrapper .single-post-content h4 {
    margin-top: 15px;
    text-transform: uppercase;
}

.blog-wrapper .single-post-content h4:hover a {
    color: #01c2ed  ;
}

.blog-wrapper a.blog-btn {
    color: #fff;
    font-size: 12px;
    padding: 8px 12px;
    text-transform: capitalize;
}

.blog-wrapper .post-meta i {
    margin-left: 5px;
    float: right;
}

.blog-wrapper ul.post-meta {
    list-style: outside none none;
}

.package-btn, a.blog-btn, ul.post-meta li {
    display: inline-block;
}

.post-meta a {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.single-blog-post:hover, .single-team:hover {
    box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.05);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/*
================================================
16. Contact Us
================================================
*/
.contactus {
    padding: 60px 0 80px;
    background: #fff;
}

.contact-info {
    margin-bottom: 50px;
    overflow: hidden;
}

.single-contact {
    text-align: center;
    padding: 15px 0;
}

.single-contact h4 {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 25px 0 5px;
    text-transform: uppercase;
}

.single-contact p {
    margin-bottom: 0;
}

.single-contact i {
    border-radius: 50%;
    box-shadow: 0 0 0 8px #ffffff inset, 0 0 5px 0 rgba(51, 214, 133, 0.24);
    color: #fff;
    font-size: 29px;
    height: 70px;
    line-height: 70px;
    padding: 30px;
    text-align: center;
    width: 80px;
}

.single-contact i {
    background: #01c2ed  ;
}

.form-control {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color -moz-use-text-color #ddd;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    height: 45px;
    margin-bottom: 20px;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 5px;
}

.form-control::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.form-control:hover,
.form-control:focus {
    border-color: #01c2ed  ;
    box-shadow: none;
}

.contact-form .btn-contact {
    color: #fff;
    font-weight: 700;
    padding: 12px 30px;
    letter-spacing: 0;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-contact:hover {
    background-color: #333;
    color: #fff;
}

.contact-form .btn-contact {
    background-color: #01c2ed  ;
    border: 1px solid #01c2ed  ;
}

/*
================================================
16. Contact Us
================================================
*/
footer {
    background-color: #010101;
    padding: 15px 0;
    width: 100%;
    float: right;
}

footer p {
    color: #808080;
    text-align: center;
    margin: 0;
}

/*
================================================
18. Media Quries
================================================
*/
@media (min-width: 768px) and (max-width: 991px) {
    .navigation {
        padding: 0;
    }

    .logo {
        float: left;
    }

    .menu-bg .logo {
        padding-top: 29px;
    }

    .navbar-toggle {
        margin-right: 0;
        margin-top: -34px;
    }

    .navbar-default .navbar-nav li a {
        font-size: 12px;
        padding: 23px 11px;
    }

    .navbar-collapse {
        margin: 6px 0 0;
    }

    .navigation .navbar-collapse {
        padding: 0;
    }

    .navbar {
        margin-top: 0px;
    }

    .aboutus .sec {
        margin-bottom: 30px;
    }

    .pricing-table .space1 {
        margin-top: 30px;
    }

    .feature-sec h1 {
        letter-spacing: 0px;
    }

    div.team-cnt div {
        margin: 0 0 15px;
        text-align: center;
    }

    .contact-info-content p span {
        padding: 8px 0 0;
    }

    .contact-info-content {
        padding: 36px 25px
    }

    #scrool-top {
        right: 15px;
    }
}

@media (max-width: 767px) {

    section h2 {
        font-size: 25px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background: #01c2ed
    }

    .menu-bg .navbar-toggle .icon-bar {
        background: #01c2ed
    }

    .menu-bg .navbar-toggle {
        margin-top: -42px;
    }

    .navbar-toggle {
        margin-right: 0;
        margin-top: -34px;
        border: none;
    }

    .menu-bg .navbar-collapse, .navbar-collapse {
        background: #fff none repeat scroll 0 0;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: none;
    }

    .navbar-default .navbar-nav li a, .menu-bg .navbar-default .navbar-nav li a {
        padding: 11px 15px;
        color: #333;
    }

    .menu-bg .logo {
        padding: 18px 0 10px;
    }

    header .navbar-nav {
        margin: 7.5px 0;
    }

    .navbar {
        margin: 0;
        display: contents;
    }

    .navbar-brand {
        display: block;
        padding: 0;
        height: auto;
    }

    .navbar-default .navbar-collapse {
        float: none;
        border: none;
        box-shadow: none;
    }

    a.slide-btn {
        font-size: 14px;
        padding: 8px 16px;
        width: 120px;
    }

    .welcome-control {
        display: none;
    }

    .single-slide-item h2 {
        font-size: 24px;
        line-height: 26px;
    }

    .aboutus .sec {
        margin-bottom: 30px;
    }

    .ab-2-box h2 {
        text-align: center;
    }

    .dvd-line {
        width: 100%;
    }

    .counter {
        margin: 0 0 50px;
    }

    .counters {
        padding-bottom: 30px;
        margin: 0;
    }

    div.team-cnt > div > div {
        margin: 0 0 25px;
        text-align: center;
    }

    .ourteam {
        padding: 66px 0 40px;
    }

    .feature-sec h1 {
        letter-spacing: 3px;
    }

    .blog-wrapper {
        padding: 65px 0 45px;
    }

    .callouts {
        padding: 0;
    }

    #scrool-top {
        right: 15px;
    }

}

button, input, optgroup, select, textarea {
    font-family: Iransans;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    text-align: RIGHT;
}





.servicesSection {
    padding: 0 0 0px
}

@media (min-width: 768px) {
    .servicesSection {
        padding: 0 0 0px

    }
}


.servicesItem {
    border: 1px solid #ffffff;
    padding: 40px 0;
    border-radius: 4px;
    float:inherit;
}


.listServices {
    display: block
}

@media (min-width: 768px) {
    .listServices {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
}

.listServices li {
    text-align: center;
    width: 100%;
    margin: 15px 0;
    float: right;
}

@media (min-width: 768px) {
    .listServices li {
        width: 25%;
        margin: 0
    }
}



.servicesIcon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid #e5e5e5;
    margin: 0 0 15px;
    text-align: center;
    line-height: 100px;
    display: inline-block
}

.servicesIcon i.icon-listy {
    font-size: 45px;
    color: #01c2ed  ;
    line-height: 100px
}

.servicesInfo h2 {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 20px;
    margin: 0 0 15px;
    margin-bottom: 0;
}

.servicesInfo p {
    margin: 0;
    padding: 15px;
    padding-top: 0;
}


.shadowwhite{

    width: 100%;
    height: 20px;
    float: right;
    position: relative;
}
.shadowwhite::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    opacity: 1;
    bottom: 30px;
    height: 60px;
    z-index: 1;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 98.8%, .99) 99%, #fcfcfc);
}


#modelsendrequest .modal-body ul {
    width: 100%;
    float: right;
}

#modelsendrequest .modal-body ul li {
    float: right;
}

#modelsendrequest .modal-body ul li label {
    float: right;
    font-weight: normal;
    text-align: right;
    font-size: 12pt;
    color: #777  ;
    font-family: IRANSans;
}

#modelsendrequest .modal-body ul li input {
    border: 1px solid #949292;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
}

#modalgetemail .modal-body  input {
    border: 1px solid #eee;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
}

#modelsendrequest .modal-body ul li textarea {
    border: 1px solid #949292;
    min-height: 80px;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
}


.loading {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    z-index: 3000;
    display: none;
}

.loading > div {
    width: 230px;
    background-color: white;
    height: 120px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
}

.loading > div > img {
    width: 55px;
    height: 55px;
    position: absolute;
    right: 0;
    left: 0;
    top: 15px;
    margin: auto;
}

.loading > div > span {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 165px;
    left: 0;
    margin: auto;
    height: 25px;
}


/*
================================================
text styles:
            register_form
================================================
*/

p.register_form_tittle {
  text-align: right;
  font-size: 13px ;
}
p.requestsaving {
  text-align: center;
  padding-top: 35px;
  font-size: 15px;
}
.nvbr_btn > div {
  padding-top: 100px;
}
p.brief{
font-size: 10;
text-align: center;
}



/* CSS Document */
.client{
background-color:#f8f8f8;
padding:30px 0px;
}
.client-img{
padding:12px 40px;
border:2px solid #f8f8f8;
}
.client-img:hover{
border:2px solid #fde7e6;
-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}








/*
====================================
social media section
================================
*/


/* thurio effect */

.effect.thurio {

  a {
      transition: border-radius 0.2s linear 0s;
      transform: rotate(45deg);
  }
    i {
      transition: transform 0.01s linear 0s;
      transform: rotate(-45deg);
    };

    &:hover {
      border-radius: 0px;
    }
  }
}





/*
===================================================================================
 how it work setion
==================================================================================
*/
.demo
{
	padding: 5px 0; ;
}
.heading-title
{
	margin-bottom: 5px;
  text-align: center;
}


.main-timeline{
    position: relative;

    transition: all 0.4s ease 0s;
}

.main-timeline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #bfbfbf;
    position: absolute;
    top: 0;
    left: 50%;
}

.main-timeline .timeline{
    position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #ed2c01;
    position: absolute;
    top: 0;
    left: 3px;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}

.main-timeline .timeline-content{
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.main-timeline .date{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding: 12px 33px;
    background: #01c2ed;
    border-radius: 30px;
    text-align: right;
}

.main-timeline .title{
    font-size: 24px;
    font-weight: 500;
    color: #5c5151;
    margin-top: 30px;
    text-align: right;
}

.main-timeline .description{
    font-size: 14px;
    color: #606060;
    line-height: 2;
    text-align: center;
}

.main-timeline .timeline-content.right{
    float: left;
    text-align: right;
}
h3.howitwork-title {
  font-size: 20pt;
  text-align: center;
}

@media only screen and (max-width: 767px){
    .main-timeline:before{
        left: 0;
    }
    .main-timeline .timeline-icon{
        left: -8px;
        margin: 0;
    }
    .main-timeline .timeline-content{
        width: 100%;
        float: right;
    }
}@charset "utf-8";
