




/*services section*/


.service-intro{
   margin-bottom: 10px;

}



@media screen and (max-width: 770px) {

    .service-intro{
       margin-top: 10px;

    }

}@media screen and (min-width: 770px) {

    .service-intro{
       margin-top: 75px;

    }

}





.service-image{
height: 250px;

}

.imagepageservice{
    width: 100%;
    height: 250px;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    padding: 10px;
}
