
body {
    font-family: Yekan;
    background-color: #f4f4f4;
}

/*header*/
.header-top-area {

    background-color: #f6f7fc;
    width: inherit;
    opacity: 0.9;
}

.intro-2 {
    background: url(../images/banner/sliderr.jpg) no-repeat center center;
    background-size: cover;
}

.repair_man-img {
    background: url(../images/banner/tehran.png) no-repeat center center;
    background-size: cover;

}

.feture-btn-slid {
    padding-top: 130px;

}

.service-btn-slide {

}

/*
.intro-1{

  background: url(../images/card/sm_banner1.png)no-repeat center center;
  background-size:cover;
}
*/
/*
.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}
*/
.view {
    height: auto;
}

.intro-text {
    padding-top: 230px;
}

.search-area {
    height: 75px;
    width: 100%;

}

.intro-text1 {

}

.request-btn {
    float: right;
    font-size: 15px;
    border-radius: 10px;
    color: white;
}

.sm-request-btn {

    font-size: 15px;
    border-radius: 10px;
    color: white;

}

.btn-reqbtn-padding {
    padding-top: 20px;

}

html,
body,
header,
.view {
    height: 100%;
}

.header-top-area {

    background-color: #f6f7fc;
    width: inherit;
}

/*logo*/
.logo a img {
    width: 170px;
    height: 35px;

}

.logo {
    padding-top: 15px;
    padding-bottom: 1px;
    float: right;
}

.login-btn {
    float: left;
    padding-top: 11px;
    padding-bottom: 8px;
    margin-right: 20px;
    height: 60px;
}

.login-btn > a {
    height: 100%;
    font-size: 10pt;
    background-color: #f7f7f7;
    line-height: 15px;
}

.login-btn > a:hover {

    color: #fff;

}

.login-btn-shape {
    border: 1px solid #01c2ed;
    color: black;
    padding: 12px 20px;
}

.navbar-btns-shape {
    border: 1px solid #01c2ed;
    color: #fff;
}

.btn-flat:active {
    background-color: #01c2ed !important;

}

.btn-flat:hover {
    background-color: #01c2ed !important;
}

.nav-element {
    float: right;
}

/*navbar*/
.dgyr-navbar {
    background-color: #fff;
    font-size: 20px;
    border-color: inherit;
    box-shadow: none !important;
}

.navbar-list li {
    text-align: right;
}

.bottom-navbar {
    background-color: #fff;
}

.bottom-navbar > div {
    width: 100%;
    height: 100%;
    float: right
}

.bottom-navbar > div > div {
    float: right;
    width: 20%;
    height: 100%
}

.bottom-navbar > div > div a {
    width: 100%;
    text-align: center;
    display: block;
    height: 23px;

}

.bottom-navbar > div > div a i {
    text-align: center;
    color: #757575 !important;
    margin-top: 5px;
}

.bottom-navbar > div > div p {
    width: 100%;
    text-align: center;
    font-size: 8pt;
    color: #575656;
    line-height: 12px;
}

.indicator {
    width: 45px;
    height: 45px;
    background-size: cover;
    background-position: 0 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -12px;
    right: 0;
    margin: auto;
    transition: 200ms cubic-bezier(.14, -0.08, .74, 1.4);
    background-color: #37b8ea;
    box-shadow: 0px 0 0 3px #fff;
    cursor: pointer;
}

.indicator i {
    color: #fff;
    font-size: 15pt;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    text-align: center;
    height: 100%;
    line-height: 44px;
    text-shadow: 0px 0px 5px #f2f8fb;
}

.navbar {
    z-index: 1;
}

/*slider area*/

.slider-area {
    text-align: center;
}

/*about us section */

.aboutus-sec {
    background-color: #f4f4f4;
}

/* search area */

.active-purple input[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.c-to-a {

    position: relative;
    height: 500px;
    background-color: black;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;

}

/*horizontal scroll section */

.cover-container {
    height: 200px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    width: 150px;
    height: 150px;
    vertical-align: bottom;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-service-category-container {
    height: auto;
    width: 100%;
    white-space: nowrap;
}

.cover-service-category-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    width: 300px;
    height: auto;
    vertical-align: bottom;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    white-space: normal;
}

.cover-service-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    width: 220px;
    height: auto;
    vertical-align: bottom;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    white-space: normal;
}

/* why dgyr mobile version */

/*stepper */

.m-progress-bar {
    min-height: 1em;
    background: #01eda2;
    width: 5%;
}

.bt-top-btn {
    height: auto;
    width: auto;
    background-color: orange;
}

/* scrolling arrow */
.arrow-sec {
    margin-top: 5px;
}

.arr-item {
    width: auto;
    height: auto;
    position: relative;
    background-color: transparent;
}

.arrow-left {
    animation: left-arr 1s ease-in-out infinite;
    margin-left: 9px;
}

@keyframes left-arr {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 373.98px) {

    .xsm-device-display-none {
        display: none;
    }

}

@media (max-width: 575.98px) {
    .sm-device-display-none {
        display: none;
    }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .sm-device-display-none {
        display: none;

    }

}

/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .sectioncalculationsystem {
        margin-top: 75px;
    }

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .lg-device-display-none {
        display: none;
    }
}

@media (min-width: 1199.98px) {
    .lg-device-display-none {
        display: none;
    }

}

.owl-next {
    position: absolute;
    top: 50%;
    width: 25px;
    left: -30px;
}

.owl-prev {
    position: absolute;
    top: 50%;
    width: 25px;
    right: -30px;
}

.owl-dots {
    display: none;
}

.sectioncalculationsystem {
    margin-bottom: 10px;
}

@media (max-width: 600px) {

    .sectioncalculationsystem {
        margin-top: 10px;
    }

    .owl-next {
        display: none;
    }

    .owl-prev {
        display: none;
    }

    .owl-dots {
        display: none;
    }

}

.owl-item {
    float: right !important;
}

/* Extra large devices (large desktops)
 No media query since the extra-large breakpoint has no upper bound on its width
*/

/* style insert request */

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right;
    float: right
}

.dropdown-menu > li > a {
    text-align: right;
    font-family: yekan;
    font-size: 11pt !important;
    height: 35px !important;
    color: #666 !important;
    line-height: 15px !important;
}

.btn {
    font-family: yekan;
    text-align: right;
    box-shadow: none;
    border: 1px solid #f0f0f0;
    padding: 10px;

}

.btn:hover {
    background-color: #f00 !important;
    box-shadow: none !important;
    color: white;
}

.bootstrap-select > .dropdown-toggle:hover {
    color: #666 !important;
}

.btn-default:hover {
    background-color: #fff !important;
    border-color: #f00 !important;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #999;
    background-color: white;
    border-color: black;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #094df0;
    background-color: #fff;
    border-color: #157bef;
    border-top-color: rgb(21, 123, 239);
    border-right-color: rgb(21, 123, 239);
    border-bottom-color: rgb(21, 123, 239);
    border-left-color: rgb(21, 123, 239);
}

.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: white;
    border-color: #8c8c8c;
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: right !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #4f51b7 !important;
    text-decoration: none;
    background-color: #f9f9f9;
}

.btn-light.dropdown-toggle {
    background-color: white !important;
}

.btn-light {

    color: #626262 !important;
}

.btn-light:not([disabled]):not(.disabled).active,
.btn-light:not([disabled]):not(.disabled):active,
.show > .btn-light.dropdown-toggle {

    box-shadow: none !important;
    background-color: #fff !important;

}

.btn-light.dropdown-toggle:focus,
.btn-light.dropdown-toggle:hover {
    background-color: white !important;
    box-shadow: none !important;
}

/* style loading */

.loading {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    z-index: 3000;
    display: none;
    top: 0;
}

.loading > div {
    width: 230px;
    background-color: white;
    height: 95px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
}

.loading > div h4 {
    font-size: 11pt;
    margin-top: 30px;
    text-align: center;
    font-family: yekan;
    color: rgb(247, 56, 56);
}

.loading > div > img {
    width: 55px;
    height: 55px;
    position: absolute;
    right: 0;
    left: 0;
    top: 15px;
    margin: auto;
}

.loading > div > span {

    position: absolute;
    bottom: 5px;
    right: 0;
    width: 165px;
    left: 0;
    margin: auto;
    height: 25px;

}

/* style loading*/

.btn-primary:hover {

    background-color: #4285f4 !important;
}

.btn-secondary:hover {

    background-color: #a6c !important;
}

.btn-danger:hover {

    background-color: #ff3547 !important;
}

.btn-success:hover {

    background-color: #00c851 !important;
}

.btn-ins:hover {

    background-color: #2e5e86 !important;
}

.btn-tw:hover {

    background-color: #55acee !important;
}

.btn-li:hover {

    background-color: #0082ca !important;
}

.btn-grey:hover {
    background-color: #616161 !important;
}

.btn-cyan:hover {
    background-color: #00bcd4 !important
}

.tx-primery {
    color: #01c2ed !important;
}

.bg-primery {
    background-color: #01c2ed !important;
}

.bg-yellow {
    background-color: yellow !important;
}

.tx-gray {
    color: #848689 !important;
}

.bg-gray {
    background-color: #848689;
}

.tx-red {
    color: #ed2c01 !important;
}

.bg-red {
    background-color: #ed2c01;
}

.tx-green {
    color: #01eda2 !important;
}

.bg-green {
    background-color: #01eda2;
}

@media screen and (max-width: 770px) {

    .sectioncalculationsystem {
        margin-top: 10px;
    }

    .uldashboard > li {
        padding: 0 !important;
    }

    .divinsertrequeststeps > div {
        padding: 0 !important;
    }

    .section1_stepsdown > div ul li > div img {
        width: 60px !important;
        height: 60px !important;
    }

}

.divinsertrequeststeps {
    width: 100%;
    float: right;
    min-height: 400px;
    margin-top: 20px;
}

.insertrequeststepslarge {

    float: right;
    margin-bottom: 10px;

}

.insertrequeststepslarge > div {

    width: 100%;
    height: 260px;
    float: right;
    background-color: white;
    border-radius: 5px;

}

.insertrequeststepslarge > div ul {

    width: 100%;
    float: right;
}

.insertrequeststepslarge > div ul li {
    width: 100%;
    height: 65px;
    text-align: center;
    float: right;
    line-height: 65px;
    cursor: pointer;
}

.insertrequeststepslarge > div ul li.active {
    background-color: #01eda2;

}

.insertrequestbody {
    float: right;
    width: 100%;

}

.insertrequestbody > section {
    width: 100%;
    float: right;
    padding: 0 !important;
    display: none;
    margin-top: 0;

}

.insertrequestbody > div {
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    border-radius: 5px;
}

.section1_chosedostan {

    min-height: 40px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 20px;

}

.section1_chosedostan > h4 {
    float: right;
    text-align: right;
    font-size: 13pt;
    height: 40px;
    line-height: 35px;
    width: 125px;
    padding-right: 15px;
}

.section1_chosedostan > div {
    float: right;
    margin-bottom: 10px;
}

.section1_chosedmaincat {
    width: 100%;
    min-height: 200px;
    background-color: #01eda2;
    float: right;
    padding: 0;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
}

.section1_chosedmaincat > div {
    min-height: 100px;
    margin-top: 10px;
    float: right;

}

.section1_chosedmaincat_right > h4 {
    width: 100%;
    height: 35px;
    text-align: right;
    color: white;
    text-align: center;
    margin: 0;
    height: auto;
}

.section1_chosedmaincat_right > img {
    width: 75px;
    height: 75px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    margin-top: 5px;
}

.section1_chosedmaincat_left > div {

    height: 150px;
    margin-top: 15px;
    position: relative;
    border-radius: 5px;

}

.items {
    height: 130px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.items.active::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(27, 159, 223, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
}

.items img {
    height: 60px;
    width: 65px !important;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: auto;
    top: 10px !important;
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.items p {
    width: 100%;
    text-align: center;
    float: right;
    margin-top: 10px;
    font-size: 10pt;
}

.owl-next {
    position: absolute;
    top: 45px;
    width: 20px;
    left: -22px;
    top: 50% !important
}

.owl-prev {
    position: absolute;
    top: 45px;
    width: 25px;
    right: -30px;
    top: 50% !important
}

.owl-dots {
    display: none;
}

.section1_stepsdown {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 50px;
}

.section1_stepsdown > div {
    width: 100%;
    min-height: 300px;
    float: right;
    display: none;

}

.section1_stepsdown > div h4 {

    width: 100%;
    min-height: 30px;
    float: right;
    text-align: center;
    margin-top: 10px;
    font-size: 13pt;
    padding: 10px;
}

.section1_stepsdown > div p {

    width: 100%;
    min-height: 30px;
    float: right;
    text-align: center;
    font-size: 11pt;
    padding: 10px;

}

.section1_stepsdown > div textarea {

    height: 200px;
    float: right;
    font-size: 11pt;
    margin-top: 10px;
    margin-bottom: 10px;

}

.section1_stepsdown > div ul {
    padding: 0;
    width: 100%;
    float: right;
    margin-top: 10px;
    list-style: none;
}

.section1_stepsdown > div ul li {

    float: right;
    height: auto;
    margin-bottom: 10px;

}

.section1_stepsdown > div ul li > div {
    width: 100%;
    float: right;
    height: 130px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #fdfdfd;
    cursor: pointer;
    box-shadow: 0 0 1px 1px #eee;

}

.section1_stepsdown > div ul li.active > div::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(27, 159, 223, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
}

.section1_stepsdown > div ul li > div img {
    width: 55px;
    height: 55px;
    position: relative;
    margin-bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    top: 10px
}

.section1_stepsdown > div ul li > div p {
    width: 100%;
    text-align: center;
    float: right;
    margin-top: 10px;

}

.nextitem {
    width: 100%;
    height: 60px;
    float: right;
    margin-top: 10px;
}

.nextitem > span {
    width: 120px;
    height: 40px;
    position: relative;
    left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
    color: white;
    line-height: 40px;

    cursor: pointer;
    float: left;
}

.chosedaddress {

    width: 100%;
    min-height: 120px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    float: right;

}

.chosedaddress > h4 {

    width: 100%;
    padding: 10px;
    margin-top: 13px;
    text-align: right;
    font-size: 13pt;
    float: right;

}

.chosedaddress > ul {
    width: 100%;
    float: right;
}

.chosedaddress > ul li {

    width: 100%;
    float: right;
    min-height: 40px;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    margin-bottom: 5px;

}

.chosedaddress > ul li span {

    width: 22px;
    height: 22px;
    background-color: #eee;
    border: 1px solid #eee;
    float: right;
    margin-bottom: 10px;
    border-radius: 100px;
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;

}

.chosedaddress > ul li span.active::before {

    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #01eda2;
    border-radius: 100px;

}

.chosedaddress > ul li p {
    text-align: right;
    padding-right: 30px;
    font-size: 11pt;
}

.insertnewaddres {
    width: 100%;
    float: right;
    min-height: 300px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
}

.finalinsertrequest {
    width: 100%;
    min-height: 300px;
    background-color: white;
    float: right;
}

.finalinsertrequest > p {
    width: 100%;
    min-height: 40px;
    float: right;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 14pt;
}

.finalinsertrequest > h4 {
    width: 100%;
    float: right;
    text-align: center;
    margin-top: 30px;
    font-size: 12pt;
    margin-top: 5px;
    padding: 10px;
}

.search {
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 95%;
    margin: 10px;
    margin-bottom: 20px;
}

.search input {
    height: 45px;

}

.divpaginate {
    position: relative;
    margin: 10px;

}

.divpaginate ul {

    margin: 0 !important;

}

.divpaginate .pagination .page-item .page-link {
    color: #023719;
}

.divpaginate .pagination .page-item.active .page-link {
    background-color: #00ffae !important;
}

.divpaginate .pagination .page-item.active .page-link {
    color: #023719 !important;
}

.part {
    width: 100%;
    min-height: 180px;
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 1px 1px #eee;
    position: relative;
    float: right;
}

.part-right {
    height: 100%;
    float: right;
    padding-left: 0;
}

.part-left {
    height: 100%;
    float: right;
    padding-right: 0;
}

.part-left .dropdown-toggle {
    margin: 0;
}

.part-right i {
    color: #808080;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.part-header {
    width: 100%;
    min-height: 50px;
    float: right;
}

.part-header h4 {
    float: right;
    color: #484747;
    font-size: 11pt;
    padding: 18px;
}

.part-body {
    width: 100%;
    float: right;

}

.part-body > ul {
    width: 100%;
    float: right;
    list-style: none;
}

.part-body > ul > li {
    width: 100%;
    float: right;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;

}

.part-body > ul > li > div {
    width: 100%;
    float: right;
    min-height: 100px;
    position: relative;

}

.part-body > ul > li > div label {
    width: 100%;
    float: right;
    text-align: right;
    font-size: 11pt;
    color: #333;
}

.part-body > ul > li > div input {
    background-color: #f9f9f9;
    border: 1px solid #f2f2f2;
}

.divbuttom {
    width: 100%;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.text-error {
    color: #ff3535 !important;
    float: right;
    margin-top: 2px;
    font-size: 11pt;
    margin-bottom: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contentsearch {
    width: 100%;
    min-height: 200px;
    height: auto;
    position: absolute;
    right: 0;
    background-color: #fff;
    display: block;
    top: 40px;
    z-index: 1;
    display: none;
    border: 1px solid #eee;
    border-radius: 5px;
}

@media screen and (max-width: 770px) {
    .contentsearch {
        top: 85px;
    }

}

@media screen and (min-width: 770px) {
    .sectioncalculationsystem {
        margin-top: 75px;
    }

}

.contentsearch > ul {
    width: 100%;
    list-style: none;
    padding: 0;

}

.contentsearch > ul li {
    width: 100%;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.contentsearch > ul li img {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    background-color: #fff;
    float: right;
    margin-right: 5px;
    border: 1px solid #eee;

}

.contentsearch > ul li p {
    font-family: yekan;
    float: right;
    margin-right: 10px;
    line-height: 35px;
    margin-bottom: 0;

}

.ulshowclaculationcost {
    width: 100%;
    float: right;
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.ulshowclaculationcost li {
    float: right;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 5px;
    min-height: 40px;
    margin-bottom: 5px;
}

.ulshowclaculationcost li h4 {
    float: right;
    font-size: 12pt;
    padding: 10px;
    margin-bottom: 0;

}

.ulshowclaculationcost li p {

    float: right;
    color: red;
    margin-bottom: 0;
    padding: 8px;
    font-size: 11pt;

}

/*setting swal*/

.swal-footer {
    direction: rtl !important;
    float: right !important;
    width: 100% !important;
    background-color: rgb(245, 248, 250);
    border-top: 1px solid #E9EEF1;
    height: 51px;
    padding: 0;
}

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: right;
    color: #61534e;
}

.swal-footer > div {
    float: right !important;
}

.swal-overlay {
    background-color: rgba(43, 142, 165, 0.45);
}

.sectionquestiondesktop {
    background-position: center !important;
    background-size: cover !important;
    float: right;
    width: 100%
}